.content {
	position: relative;
	overflow: visible;
}

.title {
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke: 1.7px var(--color-light-text);
	-moz-text-fill-color: transparent;
	margin-bottom: calc(-5vh - 8vw);
	position: relative;
	margin-left: -3.5vw;
}

.slider {
	padding: var(--side-padding);
	position: relative;
	width: 100vw;
	margin: 0 auto;
	overflow: visible;
	margin-bottom: 3rem;
}

.container {
	height: 100%;
	width: 100%;
	position: relative;
	perspective: 1000px;
	transform-style: preserve-3d;
	margin: 0 auto;
	overflow: visible;
}

.slide {
	position: absolute;
	top: 0;
	display: flex;
	left: 35%;
	width: 30%;
	height: fit-content;
	transition:
		transform 500ms ease 0s,
		opacity 500ms ease 0s,
		visibility 500ms ease 0s;
	border-radius: 12px;
}

.reflection {
	position: absolute;
	width: 100%;
	height: 20%;
	bottom: -20%;
	border-radius: 1rem;
	transition:
		transform 500ms ease,
		opacity 500ms ease,
		visibility 500ms ease;
}

.prevBtn,
.nextBtn {
	z-index: 20;
	position: absolute;
	top: 40%;
	padding: 0.5rem;
	transition:
		transform 0.4s ease,
		scale 0.4s ease;
}

.prevBtn {
	left: 3%;

	&:hover {
		transform: translateX(-0.3rem) scale(1.1);
	}

	&:active {
		transform: translateX(-1rem) scale(1.15);
	}
}

.nextBtn {
	right: 3%;

	&:hover {
		transform: translateX(0.3rem) scale(1.1);
	}

	&:active {
		transform: translateX(1rem) scale(1.15);
	}
}

.prevBtnIcon,
.nextBtnIcon {
	height: 4vw;
	transition: transform 0.2s ease;
}

@media (max-width: 768px) {
	.title {
		margin-bottom: -2rem;
		margin-left: -3.5vw;
	}

	.slide {
		position: absolute;
		top: 0;
		left: 25%;
		width: 50%;
	}

	.prevBtnIcon,
	.nextBtnIcon {
		height: 6vw;
		transition: transform 0.2s ease;
	}
}
