.separator {
	width: 100%;
	border: none;
	border-radius: var(--border-radius-l);
}

.primary {
	background-color: var(--color-accent);
	height: 1px;
}

.secondary {
	height: 0.0625rem;
	background-color: var(--color-dark-text);
	opacity: 0.3;
}
