.userInfo {
	gap: 1rem;
}

.username {
	font-size: var(--font-size-l);
	color: var(--color-accent);
}

.closed {
	opacity: 0;
	visibility: hidden;
	transform: translateY(0);
}

.avatarContainer {
	position: relative;

	&:hover {
		.avatarActions {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}

		.closed {
			opacity: 0;
			visibility: hidden;
			transform: translateY(0);
		}
	}
}

.avatar {
	cursor: pointer;
}

@media (max-width: 768px) {
	.username {
		display: none;
	}
}
