.ratingInput {
	display: flex;
	flex-direction: row;
	gap: 0.7vw;
	align-items: center;
}

.dark {
	color: var(--color-bg);
}

.ratingNumber-low,
.ratingNumber-high,
.ratingNumber-medium {
	transition: all 0.2s ease;
	cursor: pointer;
}

.ratingNumber-low:hover {
	color: var(--color-rating-low) !important;
}

.ratingNumber-medium:hover {
	color: var(--color-rating-medium) !important;
}

.ratingNumber-high:hover {
	color: var(--color-rating-high) !important;
}

.cur-high {
	color: var(--color-rating-high) !important;
}

.cur-medium {
	color: var(--color-rating-medium) !important;
}

.cur-low {
	color: var(--color-rating-low) !important;
}

.leftStarIcon {
	width: 1.5rem;
	margin-top: 0.1rem;
	color: var(--color-text);
	cursor: pointer;

	&:hover {
		color: var(--color-rating-low);
	}
}

.rightStarIcon {
	width: 1.5rem;
	margin-top: 0.1rem;
	color: var(--color-text);
	cursor: pointer;

	&:hover {
		color: var(--color-rating-high);
	}
}

.darkLeftStarIcon {
	width: 1.5rem;
	margin-top: 0.1rem;
	color: var(--color-bg);
	cursor: pointer;

	&:hover {
		color: var(--color-rating-low);
	}
}

.darkRightStarIcon {
	width: 1.5rem;
	margin-top: 0.1rem;
	color: var(--color-bg);
	cursor: pointer;

	&:hover {
		color: var(--color-rating-high);
	}
}

.starWrap {
	display: contents;
}

@media (max-width: 1024px) {
	.ratingInput {
		gap: 2.5vw;
	}

	.ratingNumber-low,
	.ratingNumber-high,
	.ratingNumber-medium {
		font-size: var(--font-size-3xl);
	}

	.starIcon {
		width: 1.5rem;
	}

	.dark {
		color: var(--color-bg);
		margin-left: -0.1rem;
		margin-right: -0.1rem;
	}
}

@media (max-width: 768px) {
	.ratingInput {
		gap: 3vw;
		font-size: var(--font-size-6xl);
	}

	.starIcon {
		width: 1.5rem;
	}
}
