.ratingInput {
	display: flex;
	flex-direction: row;
	gap: 0.7vw;
	align-items: center;
}

.dark {
	color: var(--color-bg);
}

.ratingNumber-low,
.ratingNumber-high,
.ratingNumber-medium {
	transition: all 0.2s ease;
	font-size: var(--font-size-xlg);
	cursor: pointer;
}

.ratingNumber-low:hover {
	color: var(--color-rating-low) !important;
}

.ratingNumber-medium:hover {
	color: var(--color-rating-medium) !important;
}

.ratingNumber-high:hover {
	color: var(--color-rating-high) !important;
}

.cur-high {
	color: var(--color-rating-high) !important;
}

.cur-medium {
	color: var(--color-rating-medium) !important;
}

.cur-low {
	color: var(--color-rating-low) !important;
}

.starIcon {
	width: 1.5vw;
}

@media (max-width: 1024px) {
	.ratingInput {
		gap: 2.5vw;
		font-size: var(--font-size-4xl);
	}

	.starIcon {
		width: 1.5rem;
	}

	.dark {
		color: var(--color-bg);
		gap: 2vw;
	}
}

@media (max-width: 768px) {
	.ratingInput {
		gap: 3vw;
		font-size: var(--font-size-4xl);
	}

	.starIcon {
		width: 1.5rem;
	}
}
