.modalWrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	background-color: rgb(0 0 0 / 50%); /* Затемнение */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	font-size: large;
}

.modalContent {
	max-width: 90dvw;
	min-width: 30dvw;
	overflow-y: auto;
	position: relative;
	z-index: 1001;
	border-radius: var(--border-radius-lg);
}

.iframe {
	width: 50vw;
	height: 80vh;
}
