@use '../../styles/globals.scss' as *;

.filmCard {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	color: inherit;
	background-color: var(--bg);
	border-radius: 0.625rem;
	transition: transform 0.3s ease;
	width: 100%;
}

.imageContainer {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 150%;
	transition: all 0.3s ease;
	overflow: hidden;
	border-radius: 0.625rem;
}

.image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(0.95);
	transition: all 0.4s ease;
}

.imageContainer:hover .image {
	transform: translateY(-0.125rem);
	filter: brightness(1.2);
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	flex-grow: 1;
	min-height: 3.75rem;
	gap: 0.3125rem;
	padding: 0.9375rem 0.625rem;
	background-color: transparent;
	width: 100%;
	box-sizing: border-box;
	flex-shrink: 0;
	height: 8rem;
}

.title {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: clamp(0.875rem, 2rem, 2rem);
	line-height: 1.3;
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	overflow-wrap: break-word;
	word-break: normal;
	hyphens: manual;
}

.rating,
.rating-high,
.rating-medium,
.rating-low {
	position: absolute;
	top: 4%;
	left: 5%;
	color: var(--white);
	padding: 0.3em 0.9em;
	border-radius: 0.3125rem;
	z-index: 2;
	display: inline-block;
}

.rating,
.rating-high {
	background-color: var(--color-rating-high);
}

.rating-medium {
	background-color: var(--color-rating-middle);
}

.rating-low {
	background-color: var(--color-rating-low);
}

.film-card a {
	text-decoration: none;
	color: inherit;
}
