.cardGrid {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	overflow-x: hidden;
	width: 100%;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	gap: 3rem 2rem;
}

.title {
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-xl);
	margin-left: -0.2rem;
}

.err {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 4rem);
	font-size: var(--font-size-3xl);
	font-weight: var(--font-weight-bold);
	color: var(--color-accent);
	line-height: 1;
}

@media (max-width: 768px) {
	.grid {
		grid-template-columns: repeat(2, minmax(8rem, 1fr));
		gap: 1.5rem 1rem;
	}

	.cardGrid {
		gap: 1.5rem;
	}

	.title {
		margin-left: 0;
	}
}
