.cardGrid {
	display: flex;
	flex-direction: column;
	gap: 1.875rem;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	gap: 1.5rem;
}

.title {
	font-weight: var(--font-weight-bold);
}
