.switch {
	padding: 0.25rem;
	width: 5rem;
	height: 2.25rem;
	border-radius: var(--border-radius-xl);
	border: 2px solid hsl(48deg 14% 93% / 60.3%);
	background-color: var(--color-accent-2);
	position: relative;
	cursor: pointer;
	transition: background-color 0.3s ease;
	z-index: 100;
}

.circle {
	width: 1.75rem;
	height: 1.75rem;
	border-radius: 50%;
	background-color: var(--color-text);
	position: absolute;
	top: 0.2rem;
	transition:
		left 0.3s,
		background-color 0.3s,
		transform 0.2s;

	&.off {
		left: 0.25rem;
		transform: scale(0.7);
	}

	&.on {
		left: 2.75rem;
		transform: scale(1);
		background-color: var(--color-accent);
	}
}
