.switch {
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0.25rem;
	min-width: 3.5rem;
	max-width: 5rem;
	width: 100%;
	height: 2.25rem;
	border-radius: var(--border-radius-xl);
	border: 2px solid hsl(48deg 14% 93% / 60.3%);
	background-color: var(--color-accent-2);
	position: relative;
	cursor: pointer;
	transition: all 0.3s ease;
	z-index: 100;
}

.circle {
	flex: 0 0 auto;
	width: 1.75rem;
	height: 1.75rem;
	border-radius: 50%;
	background-color: var(--color-text);
	transition: all 0.3s ease;
	position: relative;
	left: 0;

	&.off {
		transform: translateX(0) scale(0.7);
	}

	&.on {
		transform: translateX(calc(100% + 0.6rem)) scale(0.9);
		background-color: var(--color-accent);
	}
}

@media (max-width: 480px) {
	.circle {
		width: 1.5rem;
		height: 1.5rem;

		&.on {
			transform: translateX(calc(100% + 1.1rem)) scale(0.9);
		}
	}

	.switch {
		min-width: 3rem;
		height: 2rem;
	}
}
