.err {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 4rem);
	gap: 2rem;
	text-align: left;
}

.title {
	font-size: 12rem;
	line-height: 1;
	transform: translateX(-2rem);
}

.content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.text {
	margin-bottom: 0.5rem;
	max-width: 31.25rem;
}

.link {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 1rem;
	background: transparent;
	border: 2px solid var(--color-accent);
	border-radius: 0.5rem;
	cursor: pointer;
	transition: all 0.4s ease;
	height: 2.25rem;
	min-width: 5.5rem;
	text-decoration: none;
	margin-top: 1.5rem;

	&:hover {
		background: transparent;
		color: var(--color-accent);
		transform: translateY(-1px);
		box-shadow:
			0 0 0.5rem var(--color-accent),
			0 0 0.5rem var(--color-accent),
			0 0 0.5rem var(--color-accent);
	}
}

@media (max-width: 768px) {
	.err {
		flex-direction: column;
		text-align: center;
	}

	.title {
		transform: none;
	}
}
