# Ignore artifacts:
dist
node_modules
package.json
package-lock.json
**/.git
**/.svn
**/.hg
**/*.hbs
**/node_modules
jsxSingleQuote: false
bracketSameLine: false
bracketSpacing: true
parser: typescript
semi: true
arrowParens: always