{
	"trailingComma": "all",
	"tabWidth": 2,
	"singleQuote": true,
	"plugins": ["prettier-plugin-organize-imports"],
	"useTabs": true,
	"jsxSingleQuote": false,
	"bracketSameLine": false,
	"bracketSpacing": true,
	"parser": "typescript",
	"semi": true,
	"arrowParens": "always"
}
