services:
  nginx:
    container_name: frontend-stage
    build:
      context: .
      dockerfile: Dockerfile.stage
      target: nginx
    networks:
      - ddd-network

  deploy-s3:
    build:
      context: .
      dockerfile: Dockerfile.stage
      target: deploy
      args:
        - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
        - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
        - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION}
        - S3_BUCKET=${S3_BUCKET}
        - AWS_ENDPOINT=${AWS_ENDPOINT}
    profiles: ["deploy"]
    restart: "no"

networks:
  ddd-network:
    external: true
    name: ddd-network
