services:
  nginx:
    container_name: frontend-prod
    build:
      context: .
      dockerfile: Dockerfile
      target: nginx
    networks:
      - ddd-network
      
  deploy-s3:
    build:
      context: .
      dockerfile: Dockerfile
      target: deploy
    env_file:
      - .env.production

networks:
  ddd-network:
    external: true
    name: ddd-network
