services:
  nginx:
    container_name: frontend-prod
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - ddd-network

networks:
  ddd-network:
    external: true
    name: ddd-network
