services:
  nginx:
    container_name: frontend-stage
    build:
      context: .
      dockerfile: Dockerfile.stage
    networks:
      - ddd-network

networks:
  ddd-network:
    external: true
    name: ddd-network
