services:
  nginx:
    container_name: frontend-dev
    build:
      context: .
      dockerfile: Dockerfile.staging
    networks:
      - ddd-network

networks:
  ddd-network:
    external: true
    name: ddd-network
