services:
  nginx:
    container_name: frontend-prod
    build:
      context: .
      dockerfile: Dockerfile.prod
      target: nginx
    networks:
      - ddd-network
      
  deploy-s3:
    build:
      context: .
      dockerfile: Dockerfile.prod
      target: deploy
      args:
        - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
        - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
        - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION}
        - S3_BUCKET=${S3_BUCKET}
        - AWS_ENDPOINT=${AWS_ENDPOINT}

networks:
  ddd-network:
    external: true
    name: ddd-network
