.wrapper {
	position: relative;
	display: inline-block;
}

.btn {
	padding: 0.5rem 1rem;
	white-space: nowrap;
	height: 2.25rem;
}

.input {
	display: none;
}

@media (max-width: 768px) {
	.btn {
		padding: 0.2rem 0.6rem;
	}
}
