.page {
	gap: 3.75rem;
	width: 100%;
	background-color: var(--color-bg);
}

.lowePart {
	background-color: var(--color-text);
	padding: var(--side-padding);
	gap: 4.4rem;
	padding-top: 4.4rem;
	padding-bottom: 3rem;
}

.dark {
	background: transparent;
	padding-top: 2rem;
}

.content {
	gap: 3vw;
}

.left {
	gap: 1.875rem;
	width: 41.5vw;
}

.right {
	gap: 4rem;
	width: 41.5vw;
}

.feedbacks {
	gap: 1.875rem;
}

.left,
.right {
	flex: 1;
}

@media (max-width: 1024px) {
	.page {
		background: var(--color-bg-gradient);
	}

	.lowePart {
		gap: 2vw;
		margin-top: 3rem;
	}

	.content {
		flex-direction: column;
		gap: 2vw;
	}

	.left {
		order: 2;
		margin-top: 1rem;
		margin-bottom: 3rem;
		width: 100%;
	}

	.feedbacks {
		gap: 2rem;
	}

	.right {
		order: 1;
		margin-top: 3rem;
		margin-bottom: 1rem;
		width: 100%;
	}

	.feedback {
		text-align: center;
	}

	.dark {
		padding-top: 1rem;
		margin-top: 0;
	}
}

@media (max-width: 768px) {
	.page {
		gap: 2rem;
	}
}
