.modalLogout {
	display: flex;
	background-color: var(--color-light);
	color: var(--color-text);
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 50rem;
	height: 25rem;
	padding: 4rem;
}

.exitButton {
	background: transparent;
	outline: none;
	gap: 0.5rem;
	color: var(--color-always-light-text);
	cursor: pointer;
	font-size: var(--font-size-m);
	transition: border 200ms;
	width: 15rem;
	height: 4rem;
	border-radius: var(--border-radius-l);
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--color-light);

	&:hover {
		border: 1px solid var(--color-accent);
	}
}

.turnBackButton {
	border-radius: var(--border-radius-l);
	background: var(--color-accent);
	color: var(--color-light);
	padding: 1rem 2rem;
	cursor: pointer;
	outline: none;
	font-size: var(--font-size-m);
	border: 1px solid var(--color-accent);
	transition: all 200ms;

	&:hover {
		background: transparent;
		color: var(--color-accent);
		transform: translateY(-1px);
	}
}

.modalHeader {
	font-size: var(--font-size-xlg);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.modalActions {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

@media (max-width: 1024px) {
	.modalLogout {
		width: 40rem;
		height: 20rem;
		padding: 3rem;
	}
}

@media (max-width: 768px) {
	.modalLogout {
		width: 20rem;
		height: 18rem;
		padding: 1rem;
	}

	.modalActions {
		gap: 1rem;
	}
}
