@use '../tokens/tokens';

.button {
	display: flex;
	cursor: pointer;
	box-sizing: border-box;
	align-items: center;
	text-align: center;
	justify-content: center;
	border: none;
}

.primary {
	background-color: var(--color-accent);
}

.secondary {
	background: var(--color-btn-gradient);
}

.tertiary {
	background-color: transparent;
}

.quaternary {
	background-color: var(--color-light);
}
