.spinner {
	width: 100%;
	height: 100%;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	border: 4px solid rgb(255 255 255 / 10%);
	border-top-color: var(--color-accent);
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
