.compilationWidget {
	gap: 2.4rem;
	width: 100%;
	padding: var(--side-padding);
	transition: all 0.4s ease;
}

.title {
	margin-left: -0.2rem;
}

.compilations {
	width: 100%;
	justify-content: space-between;
	gap: 1rem;
}

@media (max-width: 1400px) {
	.compilations {
		row-gap: 2rem;
	}
}

@media (max-width: 1024px) {
	.title {
		margin-left: 0;
		text-align: center;
	}

	.compilations {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (max-width: 768px) {
	.compilations {
		gap: 1.5rem 1rem;
	}
}
