.wrapper {
	gap: 2.5rem;
	overflow-x: hidden;
	width: 100%;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	gap: 3rem 2rem;
}

@media (max-width: 768px) {
	.grid {
		grid-template-columns: repeat(2, minmax(8rem, 1fr));
		gap: 1.5rem 1rem;
	}
}
