@import url('../filmCard/filmCard.css');
@import url('../filmCardPlaceholder/filmCardPlaceholder.css');

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	gap: 1.5rem;
}

.card-grid {
	display: flex;
	flex-direction: column;
	gap: 1.875rem;
}

.grid > * {
	height: 100%;
}

.load-more-trigger {
	height: 1px;
	width: 1px;
}
