.film {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin-bottom: 10rem;
}

.container {
	position: relative;
	width: 100%;
	height: 80vh;
	overflow: hidden;
	z-index: 0;

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: var(--color-film-top-gradient);
		z-index: 2;
		pointer-events: none;
	}

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 50%;
		background: var(--color-film-bottom-gradient);
		z-index: 2;
		pointer-events: none;
	}
}

.image {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
}

.content {
	padding: 1.25rem 7.5rem;
	display: grid;
	grid-template-columns: 1fr 3fr;
	column-gap: 2.5rem;
	align-items: start;
	width: 100%;
	position: relative;
	margin-top: -30vh;
}

.info {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 4.375rem 2.5rem;
	align-items: start;
	width: 100%;
	position: relative;
	grid-template-rows: auto 1fr;
}

.media {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	position: relative;
}

.cover {
	width: 90%;
	object-fit: cover;
	border-radius: 0.625rem;
	box-shadow: 0 0.375rem 1rem hsl(0deg 0% 0% / 40%);
}

.main {
	display: flex;
	flex-direction: column;
	gap: 0.9375rem;
}

.title {
	font-size: var(--font-size-3xl);
	white-space: nowrap;
}

.subtitle {
	font-size: var(--font-size-xs);
	color: var(--color-light-text);
	opacity: 0.7;
	display: flex;
	flex-direction: row;
	gap: 1.375rem;
}

.description {
	font-size: var(--font-size-m);
	margin-top: 1.875rem;
}

.aboutTitle {
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-bold);
	white-space: nowrap;
}

.table {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2.5rem 1.875rem;
	margin-top: 2.5rem;
}

.fact {
	font-size: var(--font-size-l);
	font-weight: var(--font-weight-bold);
	white-space: nowrap;
}

.value {
	color: var(--color-light-text);
	opacity: 0.6;
	font-size: var(--font-size-m);
}

.right {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}

.roles {
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-bold);
	white-space: nowrap;
	width: 100%;
	text-align: left;
}

.cast {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.5rem;
	width: 100%;
	height: 100%;
}

.castContent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2.5rem;
}

.actors {
	font-size: var(--font-size-m);
	gap: 0.9375rem;
	text-align: left;
	width: 100%;
	cursor: pointer;
	transition: transform 0.3s ease;

	&:hover {
		transform: scale(1.02);
	}
}
