.calendarWidget {
	gap: 2.5rem;
	width: 100%;
	padding: var(--side-padding);
}

.title {
	margin-left: -0.2rem;
}

.subtitle {
	margin-left: -0.2rem;
	transition: transform 0.3s ease;
}

.films {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	box-sizing: border-box;
	gap: 1.25rem 2vw;
}

.linkWrap {
	display: contents;
}

.arrow {
	width: 0.6rem;
	stroke-width: 0.2rem;
	border-radius: 50%;
	margin-top: 0.2rem;
	transition:
		transform 0.4s ease,
		scale 0.4s ease;

	&:active {
		transform: translateY(-50%) translateX(-1rem) scale(1.15);
	}
}

.soon {
	gap: 0.5rem;
	margin-top: -2.5rem;
	transition:
		transform 0.4s ease,
		scale 0.4s ease;

	&:hover {
		.arrow {
			transform: translateX(50%) translateX(0.1rem) scale(1.1);
		}

		.subtitle {
			transform: scale(1.02);
		}
	}
}

@media (max-width: 1500px) {
	.films {
		grid-template-columns: 1fr;
		row-gap: 2rem;
	}
}

@media (max-width: 768px) {
	.calendarWidget {
		gap: 1rem;
	}

	.soon {
		margin-top: -1.5rem;
	}

	.title,
	.subtitle {
		margin-left: 0;
	}
}
