.actionButton {
	cursor: pointer;
	border: none;
	background: transparent;
	outline: none;
}

.modalLogout {
	background-color: var(--color-light);
	color: var(--color-text);
	width: 50rem;
	height: 36rem;
	padding: 4rem;
}

.exitButton {
	outline: none;
	padding: 1rem 2rem;
	width: 100%;
	transition: all 200ms;
	gap: 0.5rem;
	border: 1px solid transparent;
	background: transparent;

	&:hover {
		opacity: 0.9;
		border: 1px solid var(--color-accent);
	}
}

.turnBackButton {
	padding: 1rem 2rem;
	outline: none;
	width: 100%;
}

.modalHeader {
	gap: 1rem;
}

.modalActions {
	width: 18rem;
	gap: 2rem;
}

.modalTitle {
	text-align: center;
}

.closeButton {
	cursor: pointer;
	position: absolute;
	top: 2rem;
	right: 2rem;
	transition: all 200ms;

	&:hover {
		opacity: 0.7;
	}
}

@media (max-width: 768px) {
	.modalLogout {
		background-color: var(--color-light);
		color: var(--color-text);
		width: 80dvw;
		height: 36rem;
		padding: 4rem;
	}
}
