@use '../../styles/globals.scss' as *;

.topFilm {
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	z-index: 1;

	section {
		display: flex;
		position: relative;
		width: 100%;
		min-height: 100vh;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--color-topfilm-top-gradient);
		z-index: 1;
		pointer-events: none;
	}
}

.content {
	position: relative;
	z-index: 2;
	flex: 0 0 45%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2.5rem;
	padding: 0 clamp(4rem, 7vw, 7.5rem);
	backdrop-filter: blur(1px);

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--color-topfilm-side-gradient);
		z-index: -1;
		pointer-events: none;
	}
}

.title {
	text-decoration: none;
	background: transparent;
	font-size: var(--font-size-2xl);
	white-space: nowrap;
}

.info {
	display: flex;
	width: 40%;
	justify-content: space-between;
	padding: 0;
	list-style: none;
	margin-top: -1.8rem;
	flex-wrap: nowrap;
	gap: 1rem;
	white-space: nowrap;
	color: var(--color-light-text);
}

.item {
	font-weight: 400;
	color: var(--color-text-secondary);
	text-decoration: none;
	background: transparent;
	font-size: var(--font-size-xs);
}

.description {
	color: var(--color-white);
	text-decoration: none;
	font-size: var(--font-size-m);
}

.image {
	position: absolute;
	top: 0;
	left: 0;
	width: 130%;
	height: 100%;
	object-fit: cover;
	z-index: 0;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
}

.title,
.info,
.description,
.item {
	background: none;
	backdrop-filter: none;
}

.rating,
.rating-high,
.rating-medium,
.rating-low {
	position: relative;

	// height: 2.3em;
	padding: 0.35rem 0.77rem;
	border-radius: var(--border-radius-m);
	line-height: 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	margin-top: 0.4rem;
	font-size: var(--font-size-l);
	color: var(--white);
}

.rating,
.rating-high {
	background-color: var(--color-rating-high);
}

.rating-medium {
	background-color: var(--color-rating-middle);
}

.rating-low {
	background-color: var(--color-rating-low);
}
