<section class="top-film">
    <div class="top-film__content">
        <h1 class="top-film__title">Дюна: Часть вторая</h1>
        <ul class="top-film__info">
            <li class="top-film__item">2024</li>
            <li class="top-film__item">Фантастика</li>
            <li class="top-film__item">2ч 46м</li>
        </ul>
        <p class="top-film__description">
            Продолжение истории Пола Атрейдеса, который объединяет силы с фременами, чтобы отомстить заговорщикам, уничтожившим его семью.
        </p>
    </div>
    <img src="/src/assets/img/dune.webp" alt="Дюна" class="top-film__image">
</section>
<section class="genre-slider"></section>