.changePasswordForm {
	display: flex;
	flex-direction: column;
	gap: 1.875rem;
	width: 30vw;
	margin-top: 1rem;
	align-items: center;
	z-index: 5;
}

.saveBtn {
	background-color: var(--color-accent);
	color: var(--color-light);
	font-size: var(--font-size-m);
	border-radius: var(--border-radius-l);
	border: none;
	padding: 0.625rem 3.125rem;
	cursor: pointer;
	box-sizing: border-box;
	transition: transform 0.3s ease;
	width: 20vw;

	&:hover {
		transform: scale(1.04);
	}
}

.title {
	font-size: var(--font-size-xl);
	text-align: left;
	width: 100%;
	font-weight: var(--font-weight-bold);
}

@media (max-width: 1024px) {
	.changePasswordForm {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.changePasswordForm {
		width: 100%;
		gap: 1.5rem;
	}

	.saveBtn {
		align-items: center;
		text-align: center;
		width: 10rem;
		padding: 0.625rem 0;
	}
}
