.changePasswordForm {
	gap: 1.5rem;
	width: 30vw;
	margin-top: 1rem;
	z-index: 5;
}

.saveBtn {
	padding: 0.625rem 3.125rem;
	margin-top: 2rem;
}

.title {
	width: 100%;
	margin-bottom: 1rem;
}

@media (max-width: 1024px) {
	.changePasswordForm {
		width: 100%;
		gap: 1.5rem;
		align-items: center;
	}

	.saveBtn {
		align-items: center;
		text-align: center;
		width: 10rem;
		padding: 0.625rem 0;
	}

	.title {
		text-align: center;
	}
}
