// coming soon
.changePasswordForm {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 39.5vw;
	margin-top: 1rem;
}

.saveBtn {
	background-color: var(--color-accent);
	color: var(--color-light);
	font-size: var(--font-size-m);
	border-radius: var(--border-radius-l);
	border: none;
	padding: 10px 50px;
	cursor: pointer;
	box-sizing: border-box;
	transition: transform 0.3s ease;

	&:hover {
		transform: scale(1.01);
		box-shadow: 0 0 0.8rem var(--color-boxshadow-btn);
	}
}

.title {
	font-size: var(--font-size-xl);
}

@media (max-width: 1024px) {
	.changePasswordForm {
		width: 100%;
	}
}
