.changePasswordForm {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: 30vw;
	margin-top: 1rem;
	align-items: center;
	z-index: 5;
}

.saveBtn {
	padding: 0.625rem 3.125rem;
	margin-top: 2rem;
}

.title {
	width: 100%;
	margin-bottom: 1rem;
}

@media (max-width: 1024px) {
	.changePasswordForm {
		width: 100%;
		gap: 1.5rem;
		align-items: center;
	}

	.saveBtn {
		align-items: center;
		text-align: center;
		width: 10rem;
		padding: 0.625rem 0;
	}

	.title {
		text-align: center;
	}
}

.inputField {
	background-color: var(--color-light);
	border-radius: var(--border-radius-lg);
}

.inputLabel {
	color: var(--color-text);
}

.inputWrapper {
	border-radius: var(--border-radius-lg);
}

.accentBorder {
	border: 3px solid hsl(48deg 14% 93% / 60.3%);
}

.errorBorder {
	border: 3px solid var(--color-error);
}
