.page {
	gap: 4.5rem;
	width: 100%;
	overflow-x: hidden;
	padding: var(--wide-side-padding);
	margin-bottom: 3rem;
}

.title {
	margin-top: 10rem;
	margin-left: -0.2rem;
}

.nothingFound {
	width: 80%;
	min-width: 60vw;
	gap: 2rem;
	overflow-y: hidden;
}

.nothingFoundTitle {
	width: 80%;
	min-width: 60vw;
	margin-top: 10rem;
}

.nothingFoundSubtitle {
	opacity: 0.7;
	margin-bottom: 1rem;
}

.nothingFoundItem {
	position: relative;
	padding-left: 1.5rem;
	opacity: 0.7;

	&::before {
		content: '•';
		position: absolute;
		left: 0;
		top: 0;
		font-size: 1.2em;
		line-height: 1;
	}
}

.grid {
	gap: 2.5rem;
}

@media (max-width: 1024px) {
	.page {
		padding: var(--side-padding);
		gap: 3rem;
		margin-bottom: 2rem;
	}

	.title {
		margin-top: 8rem;
		text-align: center;
		margin-left: 0;
	}

	.nothingFound {
		width: 100%;
		gap: 2rem;
		margin-top: 0.5rem;
	}

	.subtitle {
		text-align: center;
	}

	.grid {
		gap: 1.5rem;
	}

	.nothingFoundTitle {
		width: 100%;
		margin-top: 8rem;
	}
}

@media (max-width: 768px) {
	.page {
		padding: var(--side-padding);
		gap: 2.5rem;
		margin-bottom: 1rem;
	}

	.films {
		gap: 1.875rem;
	}

	.nothingFound {
		gap: 1.5rem;
	}

	.nothingFoundTitle,
	.nothingFoundSubtitle {
		text-align: center;
		width: 100%;
	}
}
