.feedbackForm {
	gap: 1.875rem;
	border-radius: var(--border-radius-xl);
	padding: 2.5rem 2rem;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	background-color: var(--color-light-text);
}

.header {
	width: 100%;
	margin-top: 0.7rem;
}

.input {
	margin-top: 1.25rem;
	gap: 1.8rem;
	width: 100%;
}

.textarea {
	padding: 0.8rem 1.25rem;
	height: 20vh;
	word-break: keep-all;
}

.inputTitle::placeholder,
.textarea::placeholder {
	color: var(--color-dark-text);
	opacity: 0.5;
	font-family: 'Golos UI', Arial, sans-serif;
}

.inputTitle:-webkit-input-placeholder,
.textarea:-webkit-input-placeholder {
	font-family: 'Golos UI', Arial, sans-serif;
}

.submitButton {
	margin-top: 1.25rem;
	padding: 1.2rem 4.5rem;
	border: none;

	&:hover {
		transform: scale(1.01);
		box-shadow: 0 0 0.8rem var(--color-boxshadow-btn);
	}
}

@media (max-width: 1600px) {
	.feedbackForm {
		gap: 0.5rem;
		padding: 2rem 1.5rem;
	}

	.textarea {
		height: 15vh;
		resize: none;
	}

	.submitButton {
		margin-top: 0.7rem;
		padding: 0.5rem 3.5rem;
		font-size: var(--font-size-l);
	}

	.input {
		margin-top: 1rem;
		gap: 1.5rem;
	}

	.inputTitle {
		height: 3rem;
	}
}

@media (max-width: 768px) {
	.feedbackForm {
		padding: 1.5rem;
		gap: 1.4rem;
	}

	.input {
		gap: 1.5rem;
		margin-top: 0.8rem;
	}

	.avatar {
		height: 3rem;
		width: 3rem;
	}

	.submitButton {
		padding: 0.6rem 2.5rem;
		font-size: var(--font-size-l);
	}
}

@media (max-width: 440px) {
	.header {
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 440px), (min-width: 1024px) and (max-width: 1300px) {
	.header {
		flex-direction: column;
		align-items: center;
	}
}
