.title {
	font-size: var(--font-size-3xl);
	text-align: left;
	font-weight: var(--font-weight-regular);
	color: var(--color-text);
}

.size6xl {
	font-size: var(--font-size-6xl);
}

.size5xl {
	font-size: var(--font-size-5xl);
}

.size4xl {
	font-size: var(--font-size-4xl);
}

.size3xl {
	font-size: var(--font-size-3xl);
}

.size2xl {
	font-size: var(--font-size-2xl);
}

.sizexl {
	font-size: var(--font-size-xl);
}

.alignCenter {
	text-align: center;
}

.alignLeft {
	text-align: left;
}

.colorDark {
	color: var(--color-dark-text);
}

.colorLight {
	color: var(--color-text);
}

.colorAssent {
	color: var(--color-accent);
}

.colorMedium {
	color: var(--color-bg);
}

.weightRegular {
	font-weight: var(--font-weight-regular);
}

.weightBold {
	font-weight: var(--font-weight-bold);
}
