.paragraph {
	font-size: var(--font-size-xs);
	text-align: left;
	font-weight: var(--font-weight-regular);
	color: var(--color-text);
}

.sizeL {
	font-size: var(--font-size-l);
}

.sizeM {
	font-size: var(--font-size-m);
}

.sizeS {
	font-size: var(--font-size-s);
}

.alignCenter {
	text-align: center;
}

.alignLeft {
	text-align: left;
}

.colorDark {
	color: var(--color-dark-text);
}

.colorLight {
	color: var(--color-light-text);
}

.colorAssent {
	color: var(--color-accent);
}

.colorBlue {
	color: var(--color-bg);
}

.colorBase {
	color: var(--color-text);
}

.weightRegular {
	font-weight: var(--font-weight-regular);
}

.weightBold {
	font-weight: var(--font-weight-bold);
}
