.paragraph {
	font-size: var(--font-size-m);
	text-align: left;
	font-weight: var(--font-weight-regular);
	color: var(--color-text);
}

.level7 {
	font-size: var(--font-size-l);
}

.level8 {
	font-size: var(--font-size-m);
}

.level9 {
	font-size: var(--font-size-s);
}

.alignCenter {
	text-align: center;
}

.alignLeft {
	text-align: left;
}

.colorDark {
	color: var(--color-dark-text);
}

.colorLight {
	color: var(--color-light-text);
}

.colorAccent {
	color: var(--color-accent);
}

.colorBlue {
	color: var(--color-bg);
}

.colorBase {
	color: var(--color-text);
}

.colorError {
	color: var(--color-error);
}

.weightRegular {
	font-weight: var(--font-weight-regular);
}

.weightBold {
	font-weight: var(--font-weight-bold);
}
