.page {
	margin-bottom: 3rem;
	width: 100%;
	min-height: calc(100vh - 8rem);
	box-sizing: border-box;
	gap: 8vh;
	padding: var(--side-padding);
}

.films {
	gap: 1.875rem;
}

@media (max-width: 768px) {
	.page {
		gap: 8vh;
		max-width: 100vw;
		box-sizing: border-box;
	}

	.films {
		gap: 1.875rem;
	}
}
