<div class="page">
    <main class="main">
        <div class="genre-content">
            <h1 class="genre-content__title"></h1>
            <h3 class="genre-content__description"></h3>
            <h3 class="genre-content__error">Фильмов этого жанра не найдено</h3>
        </div>
        <section class="films">
            <div class="card-grid">
                <div class="grid"></div>
            </div>
        </section>
    </main>
</div>
