<div class="page">
    <main class="main">
        <div class="genre-content">
            <h1 class="genre-content__title">{{title}}</h1>
            <p class="genre-content__description">{{description}}</p>
        </div>
        <section class="films">
        </section>
    </main>
</div>
