<section class="genre-slider">
    <h2 class="genre-slider__title">Жанры</h2>
    <div class="slider-container">
        <div class="slider"></div>
        <button class="prev-button">
            <img src="./../../assets/img/arrow.svg" alt="Еще жанры" class="prev-button__icon">
        </button>
        <button class="next-button">
            <img src="./../../assets/img/arrow.svg" alt="Еще жанры" class="next-button__icon">
        </button>
    </div>
</section>
