<section class="genre-slider">
    <h2 class="genre-slider__title">Жанры</h2>
    <div class="slider-container">
        <div class="slider">
            <img class="slider__image" src="/src/assets/img/genres/Аниме.png" alt="Аниме">
            <img class="slider__image" src="/src/assets/img/genres/Биографии.png" alt="Биографии">
            <img class="slider__image" src="/src/assets/img/genres/Боевики.png" alt="Боевики">
            <img class="slider__image" src="/src/assets/img/genres/Вестерны.png" alt="Вестерны">
            <img class="slider__image" src="/src/assets/img/genres/Детективы.png" alt="Детективы">
            <img class="slider__image" src="/src/assets/img/genres/Дорамы.png" alt="Дорамы">
            <img class="slider__image" src="/src/assets/img/genres/Драмы.png" alt="Драмы">
            <img class="slider__image" src="/src/assets/img/genres/Документальные.png" alt="Документальные">
            <img class="slider__image" src="/src/assets/img/genres/Исторические.png" alt="Исторические">
            <img class="slider__image" src="/src/assets/img/genres/Комедии.png" alt="Комедии">
            <img class="slider__image" src="/src/assets/img/genres/Короткометражки.png" alt="Короткометражки">
            <img class="slider__image" src="/src/assets/img/genres/Криминальные.png" alt="Криминал">
            <img class="slider__image" src="/src/assets/img/genres/Мелодрамы.png" alt="Мелодрамы">
            <img class="slider__image" src="/src/assets/img/genres/Мистика.png" alt="Мистика">
            <img class="slider__image" src="/src/assets/img/genres/Музыкальные.png" alt="Музыкальные">
            <img class="slider__image" src="/src/assets/img/genres/Мультфильмы.png" alt="Мультфильмы">
            <img class="slider__image" src="/src/assets/img/genres/Приключения.png" alt="Приключения">
            <img class="slider__image" src="/src/assets/img/genres/Ромкомы.png" alt="Ромком">
            <img class="slider__image" src="/src/assets/img/genres/Семейные.png" alt="Семейные">
            <img class="slider__image" src="/src/assets/img/genres/Спортивные.png" alt="Спортивные">
            <img class="slider__image" src="/src/assets/img/genres/Триллеры.png" alt="Триллеры">
            <img class="slider__image" src="/src/assets/img/genres/Ужасы.png" alt="Ужасы">
            <img class="slider__image" src="/src/assets/img/genres/Фантастика.png" alt="Фантастика">
            <img class="slider__image" src="/src/assets/img/genres/Фэнтези.png" alt="Фэнтези">
        </div>
        <button class="prev-button">
        <img src="/src/assets/img/arrow.svg" alt="Еще жанры" class="prev-button__icon">
        </button>
        <button class="next-button">
        <img src="/src/assets/img/arrow.svg" alt="Еще жанры" class="next-button__icon">
        </button>
    </div>
</section>
