.genreSlider {
	display: flex;
	flex-direction: column;
	gap: 1.875rem;
	position: relative;
	padding: 0 7vw;
}

.container {
	display: flex;
	flex-direction: row;
	gap: 1.875rem;
	position: relative;
}

.title {
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-xl);
}

.slider {
	display: grid;
	gap: 1.875rem;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	width: 100%;
	box-sizing: border-box;
	position: relative;
	overflow-x: hidden;
}

.prevBtn,
.nextBtn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: none;
	border: none;
	cursor: pointer;
	transition:
		transform 0.4s ease,
		scale 0.4s ease;
}

.prevBtn {
	left: -2.5rem;

	&:hover {
		transform: translateY(-50%) translateX(-0.3rem) scale(1.1);
	}

	&:active {
		transform: translateY(-50%) translateX(-1rem) scale(1.15);
	}
}

.nextBtn {
	right: -2.5rem;

	&:hover {
		transform: translateY(-50%) translateX(0.3rem) scale(1.1);
	}

	&:active {
		transform: translateY(-50%) translateX(1rem) scale(1.15);
	}
}

.prevBtnIcon,
.nextBtnIcon {
	height: 3.125rem;
	transition: transform 0.2s ease;
}

@media (max-width: 768px) {
	.genreSlider {
		gap: 1.25rem;
	}

	.title {
		margin-left: 0;
	}

	.slider {
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 0.9375rem;
	}

	.prevBtn,
	.nextBtn {
		display: none;
		height: 10vh;
	}

	.container {
		gap: 1.25rem;
	}
}
