<section class="genre-slider">
  <h2 class="genre-slider__title">Жанры</h2>
  <div class="slider-container">
    <div class="slider">
      <a href="/genre/anime"><img class="slider__image" src="/src/assets/img/genres/Аниме.png" alt="Аниме"></a>
      <a href="/genre/biography"><img class="slider__image" src="/src/assets/img/genres/Биографии.png" alt="Биографии"></a>
      <a href="/genre/action"><img class="slider__image" src="/src/assets/img/genres/Боевики.png" alt="Боевики"></a>
      <a href="/genre/western"><img class="slider__image" src="/src/assets/img/genres/Вестерны.png" alt="Вестерны"></a>
      <a href="/genre/detective"><img class="slider__image" src="/src/assets/img/genres/Детективы.png" alt="Детективы"></a>
      <a href="/genre/drama-series"><img class="slider__image" src="/src/assets/img/genres/Дорамы.png" alt="Дорамы"></a>
      <a href="/genre/drama"><img class="slider__image" src="/src/assets/img/genres/Драмы.png" alt="Драмы"></a>
      <a href="/genre/documentary"><img class="slider__image" src="/src/assets/img/genres/Документальные.png" alt="Документальные"></a>
      <a href="/genre/history"><img class="slider__image" src="/src/assets/img/genres/Исторические.png" alt="Исторические"></a>
      <a href="/genre/comedy"><img class="slider__image" src="/src/assets/img/genres/Комедии.png" alt="Комедии"></a>
      <a href="/genre/shorts"><img class="slider__image" src="/src/assets/img/genres/Короткометражки.png" alt="Короткометражки"></a>
      <a href="/genre/crime"><img class="slider__image" src="/src/assets/img/genres/Криминальные.png" alt="Криминал"></a>
      <a href="/genre/romance"><img class="slider__image" src="/src/assets/img/genres/Мелодрамы.png" alt="Мелодрамы"></a>
      <a href="/genre/mystery"><img class="slider__image" src="/src/assets/img/genres/Мистика.png" alt="Мистика"></a>
      <a href="/genre/musical"><img class="slider__image" src="/src/assets/img/genres/Музыкальные.png" alt="Музыкальные"></a>
      <a href="/genre/cartoon"><img class="slider__image" src="/src/assets/img/genres/Мультфильмы.png" alt="Мультфильмы"></a>
      <a href="/genre/adventure"><img class="slider__image" src="/src/assets/img/genres/Приключения.png" alt="Приключения"></a>
      <a href="/genre/romcom"><img class="slider__image" src="/src/assets/img/genres/Ромкомы.png" alt="Ромком"></a>
      <a href="/genre/family"><img class="slider__image" src="/src/assets/img/genres/Семейные.png" alt="Семейные"></a>
      <a href="/genre/sport"><img class="slider__image" src="/src/assets/img/genres/Спортивные.png" alt="Спортивные"></a>
      <a href="/genre/thriller"><img class="slider__image" src="/src/assets/img/genres/Триллеры.png" alt="Триллеры"></a>
      <a href="/genre/horror"><img class="slider__image" src="/src/assets/img/genres/Ужасы.png" alt="Ужасы"></a>
      <a href="/genre/scifi"><img class="slider__image" src="/src/assets/img/genres/Фантастика.png" alt="Фантастика"></a>
      <a href="/genre/fantasy"><img class="slider__image" src="/src/assets/img/genres/Фэнтези.png" alt="Фэнтези"></a>
    </div>
    <button class="prev-button">
      <img src="/src/assets/img/arrow.svg" alt="Еще жанры" class="prev-button__icon">
    </button>
    <button class="next-button">
      <img src="/src/assets/img/arrow.svg" alt="Еще жанры" class="next-button__icon">
    </button>
  </div>
</section>
