:root {
	--color-bg: hsl(235deg 52% 16%);
	--color-accent: hsl(68deg 75% 56%);
	--color-text: hsl(44deg 22% 92%);
	--color-light-text: hsl(214deg 27% 86%);
	--color-dark-text: hsl(236deg 65% 5%);
	--color-icons: hsl(230deg 18% 71%);
	--color-rating-high: hsl(140deg 56% 51%);
	--color-rating-middle: hsl(38deg 87% 51%);
	--color-rating-low: hsl(0deg 79% 57%);
	--color-error: hsl(346deg 100% 72%);
	--color-light: hsl(232deg 49% 25%);
	--color-accent-2: hsl(233deg 52% 34%);
	--color-bg-light: hsl(44deg 22% 92%);
	--color-always-light-text: hsl(44deg 22% 92%);

	--color-topfilm-side-gradient: linear-gradient(
		to right,
		hsl(0deg 0% 0% / 85%) 0%,
		hsl(0deg 0% 0% / 60%) 60%,
		hsl(0deg 0% 0% / 10%) 88%,
		hsl(0deg 0% 0% / 0%) 95%
	);

	--color-topfilm-top-gradient: linear-gradient(
		to bottom,
		hsl(0deg 0% 0% / 85%) 0%,
		hsl(0deg 0% 0% / 60%) 20%,
		hsl(0deg 0% 0% / 30%) 50%,
		hsl(0deg 0% 0% / 10%) 75%,
		hsl(0deg 0% 0% / 0%) 100%
	);

	--color-film-top-gradient: linear-gradient(
		to bottom,
		hsl(0deg 0% 0% / 85%) 0%,
		hsl(0deg 0% 0% / 73%) 0%,
		hsl(0deg 0% 0% / 60%) 20%,
		hsl(0deg 0% 0% / 30%) 50%,
		hsl(0deg 0% 0% / 10%) 75%,
		hsl(0deg 0% 0% / 0%) 100%
	);

	--color-film-bottom-gradient: linear-gradient(
		to top,
		hsl(235deg 52% 16% / 100%) 0%,
		hsl(235deg 52% 16% / 100%) 40%,
		hsl(235deg 52% 16% / 95%) 50%,
		hsl(235deg 52% 16% / 85%) 60%,
		hsl(235deg 52% 16% / 70%) 70%,
		hsl(235deg 52% 16% / 50%) 80%,
		hsl(235deg 52% 16% / 25%) 90%,
		hsl(235deg 52% 16% / 0%) 100%
	);

	--color-purple-light: hsl(250deg 9% 42%);
	--color-purple-border: hsl(266deg 15% 55%);
	--color-purple-placeholder: hsl(268deg 17% 25%);
	--color-purple-dark: hsl(267deg 22% 18%);
	--color-purple-super-dark: hsl(267deg 24% 13%);
	--color-purple-accent: hsl(277deg 67% 48%);
	--color-shadow-hover: hsl(180deg 100% 50% / 50%);
	--color-shadow-focus: hsl(180deg 100% 50% / 30%);

	--font-size-3xl: clamp(2rem, 4vw, 4rem); // 64
	--font-size-2xl: clamp(1.5rem, 3.5vw, 3rem); // 48
	--font-size-xl: clamp(1rem, 3.06vw, 2.625rem); // 42
	--font-size-lg: clamp(1.375rem, 2vw, 1.625rem); // 26
	--font-size-l: clamp(1rem, 1.75vw, 1.5rem); // 24
	--font-size-m: clamp(1rem, 1.6vw, 1.375rem); // 22
	--font-size-s: clamp(1rem, 1.46vw, 1.25rem); // 20
	--font-size-xs: clamp(1rem, 1.31vw, 1.125rem); // 18
	--font-size-xxs: clamp(0.9375rem, 1.15vw, 1rem); // 16

	--font-weight-bold: 700;
	--font-weight-regular: 400;

	--border-radius-xl: 1.875rem; // 30
	--border-radius-l: 0.625rem; // 10
	--border-radius-m: 0.3125rem; // 5
}
