:root {
	--color-bg: hsl(235deg 52% 16%);
	--color-accent: hsl(65deg 78% 57%);
	--color-text: hsl(48deg 14% 93%);
	--color-light-text: hsl(210deg 30% 87%);
	--color-dark-text: hsl(236deg 65% 5%);
	--color-icons: hsl(230deg 18% 71%);
	--color-rating-high: hsl(137deg 54% 48%);
	--color-rating-medium: hsl(37deg 90% 51%);
	--color-rating-low: hsl(0deg 79% 57%);
	--color-error: hsl(346deg 100% 72%);
	--color-light: hsl(232deg 49% 25%);
	--color-accent-2: hsl(233deg 52% 34%);
	--color-bg-light: hsl(44deg 22% 92%);
	--color-always-light-text: hsl(44deg 22% 92%);
	--color-feedback-text-high: hsl(137deg 44% 35%);
	--color-feedback-text-medium: hsl(38deg 87% 51%);
	--color-feedback-text-low: hsl(0deg 79% 57%);

	--color-feedback-high: hsl(132deg 42% 81%);
	--color-feedback-medium: hsl(240deg 15% 92%);
	--color-feedback-low: hsl(0deg 67% 87%);
	--color-user-bg: hsl(228deg 85% 46% / 50%);

	--color-feedback-1: hsl(0deg 67% 87%);
	--color-feedback-2: hsl(6deg 60% 87%);
	--color-feedback-3: hsl(12deg 50% 88%);
	--color-feedback-4: hsl(25deg 35% 89%);
	--color-feedback-5: hsl(240deg 15% 92%);
	--color-feedback-6: hsl(170deg 20% 90%);
	--color-feedback-7: hsl(150deg 25% 88%);
	--color-feedback-8: hsl(138deg 32% 86%);
	--color-feedback-9: hsl(135deg 38% 84%);
	--color-feedback-10: hsl(132deg 42% 81%);

	--color-calendar-1: hsl(137deg 56% 51%);
	--color-calendar-2: hsl(134deg 53% 60%);
	--color-calendar-3: hsl(131deg 49% 69%);
	--color-calendar-4: hsl(122deg 43% 78%);
	--color-calendar-5: hsl(99deg 37% 85%);
	--color-calendar-6: hsl(48deg 14% 93%);

	--color-scrollbar-thumb: hsl(245deg 48% 30%);
	--color-scrollbar-track: hsl(245deg 48% 20%);
	--color-scrollbar-thumb-hover: hsl(244deg 48% 60%);

	--color-boxshadow-btn: hsl(0deg 0% 0% / 15%);

	--color-bg-gradient: linear-gradient(
		to right,
		hsl(228deg 68% 22%) 0%,
		hsl(231deg 66% 21%) 37%,
		hsl(237deg 53% 16%) 100%
	);

	--color-btn-gradient: linear-gradient(
		to right,
		hsl(234deg 54% 34%) 0%,
		hsl(274deg 63% 39%) 76%,
		hsl(286deg 71% 40%) 90%,
		hsl(295deg 78% 41%) 100%
	);

	--color-promofilm-side-gradient: linear-gradient(
		to right,
		hsl(0deg 0% 0% / 85%) 0%,
		hsl(0deg 0% 0% / 60%) 60%,
		hsl(0deg 0% 0% / 10%) 88%,
		hsl(0deg 0% 0% / 0%) 95%
	);

	--color-promofilm-top-gradient: linear-gradient(
		to bottom,
		hsl(0deg 0% 0% / 85%) 0%,
		hsl(0deg 0% 0% / 60%) 20%,
		hsl(0deg 0% 0% / 30%) 50%,
		hsl(0deg 0% 0% / 10%) 75%,
		hsl(0deg 0% 0% / 0%) 100%
	);

	--color-film-top-gradient: linear-gradient(
		to bottom,
		hsl(0deg 0% 0% / 85%) 0%,
		hsl(0deg 0% 0% / 73%) 0%,
		hsl(0deg 0% 0% / 60%) 20%,
		hsl(0deg 0% 0% / 30%) 50%,
		hsl(0deg 0% 0% / 10%) 75%,
		hsl(0deg 0% 0% / 0%) 100%
	);

	--color-film-bottom-gradient: linear-gradient(
		to top,
		hsl(235deg 52% 16% / 100%) 0%,
		hsl(235deg 52% 16% / 100%) 40%,
		hsl(235deg 52% 16% / 95%) 50%,
		hsl(235deg 52% 16% / 85%) 60%,
		hsl(235deg 52% 16% / 70%) 70%,
		hsl(235deg 52% 16% / 50%) 80%,
		hsl(235deg 52% 16% / 25%) 90%,
		hsl(235deg 52% 16% / 0%) 100%
	);

	--color-glass-gradient: linear-gradient(
		to top,
		hsl(235deg 30% 69% / 6%) 0%,
		hsl(235deg 30% 69% / 4%) 5%,
		rgb(187 189 212 / 0%) 20%
	);

	// --color-search-gradient: linear-gradient(
	// 	to top,
	// 	hsl(235deg 30% 69% / 10%) 0%,
	// 	hsl(235deg 30% 69% / 6%) 50%,
	// 	rgb(8 10 38 / 0%) 80%
	// );

	--color-search-gradient: linear-gradient(
		to top,
		rgb(100 102 120 / 25%) 0%,
		rgb(60 62 80 / 35%) 30%,
		rgb(3 4 15 / 30%) 70%
	);

	--color-deep-purple: hsl(237deg 53% 16%);

	--color-purple-light: hsl(250deg 9% 42%);
	--color-purple-border: hsl(266deg 15% 55%);
	--color-purple-placeholder: hsl(268deg 17% 25%);
	--color-purple-dark: hsl(267deg 22% 18%);
	--color-purple-super-dark: hsl(267deg 24% 13%);
	--color-purple-accent: hsl(277deg 67% 48%);
	--color-shadow-hover: hsl(180deg 100% 50% / 50%);
	--color-shadow-focus: hsl(180deg 100% 50% / 30%);

	--font-size-6xl: clamp(2.5rem, 23vw, 40rem);
	--font-size-5xl: clamp(2.3rem, 4vw, 4rem); // 64
	--font-size-4xl: clamp(1.9rem, 3.5vw, 3rem); // 48
	--font-size-3xl: clamp(1.8rem, 3.06vw, 2.625rem); // 42
	--font-size-2xl: clamp(1.7rem, 2.3vw, 2rem); // 32
	--font-size-xl: clamp(1.3rem, 1.9vw, 1.625rem); // 26
	--font-size-l: clamp(1.3rem, 1.75vw, 1.5rem); // 24
	--font-size-m: clamp(1.2rem, 1.6vw, 1.375rem); // 22
	--font-size-s: clamp(1.1rem, 1.46vw, 1.25rem); // 20
	--font-size-xs: clamp(1rem, 1.31vw, 1.125rem); // 18
	--font-size-2xs: clamp(0.9375rem, 1.15vw, 1rem); // 16
	--font-size-3xs: clamp(0.5625rem, 0.85vw, 0.75rem); // 12

	--font-weight-bold: 700;
	--font-weight-medium: 500;
	--font-weight-regular: 400;

	--border-radius-3xl: 2.5rem; // 40
	--border-radius-xxl: 2.25rem; // 36
	--border-radius-xl: 1.875rem; // 30
	--border-radius-lg: 1rem; // 16
	--border-radius-l: 0.625rem; // 10
	--border-radius-m: 0.3125rem; // 5

	--side-padding: 0 7vw;
	--wide-side-padding: 0 12vw;
}
