@import url('../components/header/header.css');
@import url('../components/footer/footer.css');
@import url('../components/layout/layout.css');
@import url('../pages/homePage/homePage.css');
@import url('../pages/genrePage/genrePage.css');
@import url('../pages/registrationPage/registrationPage.css');
@import url('../pages/loginPage/loginPage.css');
@import url('../pages/notFoundPage/notFoundPage.css');

* {
	padding: 0;
	margin: 0;
	font-family: Rubik, Arial, sans-serif;
	box-sizing: border-box;
	font-weight: 400;
	font-size: 1rem;
}

.lato-family {
	font-family: Lato, Arial, sans-serif;
}

body,
html {
	width: 100dvw;
	max-width: 100dvw;
	overflow-x: hidden;
	background-color: var(--color-bg);
}

h1 {
	font-size: 3rem;
	color: var(--color-white);
}

h2 {
	font-size: 2rem;
	color: var(--color-white);
}

h3 {
	font-size: 1.25rem;
	color: var(--color-white);
}

p {
	font-size: 1rem;
	font-family: Lato, Arial, sans-serif;
	color: var(--color-text-secondary);
}

.content {
	height: 100%;
	min-height: 100dvh;
	width: 100%;
}
