html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	font-family: 'Golos UI', Arial, sans-serif;
	box-sizing: border-box;
	color: var(--color-text);
	font-weight: var(--font-weight-regular);
	text-decoration: none;
}

body,
html {
	width: 100dvw;
	max-width: 100dvw;
	min-height: 100vh;
	overflow-x: hidden;
	background: var(--color-bg-gradient);

	&::-webkit-scrollbar {
		width: 4px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: var(--color-scrollbar-thumb);
		border-radius: 2px;

		&:hover {
			background: var(--color-scrollbar-thumb-hover);
		}
	}

	scrollbar-width: thin;
	scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track);
}
