<form action='{{ action }}' class="form">
    <div class="form__fields" id='{{ id }}'></div>
    <div id='form__footer' class="form__footer">
        <a href="/register" class="form__footer-link">У меня нет аккаунта</a>
    </div>
</form>