.avatar {
	height: 4.4rem;
	width: 4.4rem;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}

.level6 {
	height: 10.5rem;
	width: 10.5rem;
}

.level7 {
	width: 5rem;
	height: 5rem;
}

.level8 {
	height: 4.4rem;
	width: 4.4rem;
}

.level9 {
	width: 3rem;
	height: 3rem;
}

.level10 {
	width: 2.5rem;
	height: 2.5rem;
}

@media (max-width: 1024px) {
	.level6 {
		height: 9rem;
		width: 9rem;
	}
}

@media (max-width: 768px) {
	.level6 {
		height: 7rem;
		width: 7rem;
	}

	.level8 {
		height: 3rem;
		width: 3rem;
	}

	.level10 {
		height: 3rem;
		width: 3rem;
	}
}
