.compilationCard {
	text-align: center;
	transition: transform 0.3s ease;
	width: 100%;
	border-radius: var(--border-radius-xl);
	padding: 1.25rem 1.875rem;
	border: 1px solid rgb(212 222 232 / 40%);
	box-shadow: 0 4px 4px rgb(212 222 232 / 10%);
}

.linkWrap {
	display: contents;
}

.imageContainer {
	display: flex;
	position: relative;
	aspect-ratio: 1 / 1;
	overflow: hidden;
	height: 15vh;
	border-radius: var(--border-radius-l);
}

.image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(0.95);
	transition: all 0.4s ease;
}

.imageContainer:hover .image {
	filter: brightness(1.2);
}

.content {
	gap: 0.5rem;
}

.title {
	overflow-wrap: break-word;
	word-break: normal;
	hyphens: manual;
}

.description {
	overflow-wrap: break-word;
	word-break: normal;
	hyphens: manual;
}

@media (max-width: 1500px) {
	.compilationCard {
		padding: 2rem 1.3rem;
	}
}

@media (max-width: 768px) {
	.compilationCard {
		flex-direction: column;
		align-items: center;
		gap: 1.5rem;
		padding: 2rem 1.875rem;
	}

	.content {
		display: none;
		align-items: center;
	}

	.title {
		text-align: center;
		font-size: var(--font-size-xl);
	}

	.description {
		text-align: center;
		font-size: var(--font-size-2xs);
	}

	.imageContainer {
		height: 25vh;
	}
}
