.compilationCard {
	text-align: center;
	width: 100%;
	border-radius: var(--border-radius-xl);
	padding: 1.25rem 1.875rem;

	// border: 1px solid rgb(212 222 232 / 40%);
	// box-shadow: 0 4px 4px rgb(212 222 232 / 10%);
	gap: 2rem;
	transition: all 0.3s ease;
	backdrop-filter: blur(5px);
	background: var(--color-glass-gradient);
	box-shadow:
		0 4px 30px rgb(0 0 0 / 10%),
		inset 10px 10px 30px rgb(0 0 0 / 15%);
	border: 1px solid hsl(235deg 30% 69% / 20%);

	&:hover {
		filter: brightness(1.2);
	}
}

.linkWrap {
	display: contents;
}

.imageContainer {
	display: flex;
	position: relative;
	height: 15vh;
	width: 15vh;
	aspect-ratio: 1 / 1;
}

.image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(0.95);
	transition: all 0.4s ease;
	border-radius: var(--border-radius-l);
}

.imageContainer:hover .image {
	filter: brightness(1.2);
}

.content {
	gap: 1rem;
}

.title {
	overflow-wrap: break-word;
	word-break: normal;
	hyphens: manual;
}

.description {
	overflow-wrap: break-word;
	word-break: normal;
	hyphens: manual;
}

@media (max-width: 1500px) {
	.compilationCard {
		padding: 2rem 1.3rem;
	}
}

@media (max-width: 768px) {
	.compilationCard {
		flex-direction: column;
		align-items: center;
		padding: 0;
		border-radius: var(--border-radius-l);
	}

	.content {
		display: none;
	}

	.image {
		border-radius: var(--border-radius-l);
	}

	.imageContainer {
		width: 100%;
		height: 100%;
	}
}
