.linkWrap {
	display: contents;
}

.compilationCard {
	border-radius: var(--border-radius-xl);
	transition: all 0.3s ease;
	box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
	border: 1px solid hsl(235deg 30% 69% / 20%);
	position: relative;
	width: 100%;
	height: 100%;
	aspect-ratio: 1 / 1;

	&:hover {
		filter: brightness(1.2);
	}
}

.image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.4s ease;
	border-radius: var(--border-radius-xl);
}

.tooltip {
	width: 11vw;
}
