.compilationCard {
	text-align: center;
	border-radius: var(--border-radius-xl);
	padding: 0;
	transition: all 0.3s ease;
	backdrop-filter: blur(5px);
	background: var(--color-glass-gradient);
	box-shadow:
		0 4px 30px rgb(0 0 0 / 10%),
		inset 10px 10px 30px rgb(0 0 0 / 15%);
	border: 1px solid hsl(235deg 30% 69% / 20%);

	&:hover {
		filter: brightness(1.2);
	}
}

.linkWrap {
	display: contents;
}

.imageContainer {
	display: flex;
	position: relative;
	width: 11vw;
	aspect-ratio: 1 / 1;
}

.image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.4s ease;
	border-radius: var(--border-radius-xl);
}

.tooltip {
	width: 11vw;
	z-index: 100000;
	opacity: 1;
}

@media (max-width: 1024px) {
	.imageContainer {
		width: 27.5vw;
	}
}
