.linkWrap {
	display: contents;
}

.image {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.3s ease;
	border-radius: var(--border-radius-xl);
}

.description {
	display: flex;
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	padding: 1.5rem;
	box-sizing: border-box;
	transition: all 0.3s ease;
	align-items: end;
}

.compilationCard {
	border-radius: var(--border-radius-xl);
	transition: all 0.3s ease;
	box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
	border: 1px solid hsl(235deg 30% 69% / 20%);
	position: relative;
	width: 100%;
	height: 100%;
	aspect-ratio: 1 / 1;
	background: var(--color-deep-purple);

	&:hover {
		.description {
			opacity: 1;
		}

		.image {
			opacity: 0;
		}
	}
}

@media (max-width: 1300px) {
	.description {
		padding: 0 0.5rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

@media (max-width: 768px) {
	.compilationCard {
		&:hover {
			.description {
				opacity: 0;
			}

			.image {
				opacity: 1;
			}
		}
	}
}
