.logo {
	width: 12rem;
	object-fit: contain;
	flex-shrink: 0;
	transition: transform 0.3s ease;
	cursor: pointer;

	&:hover {
		transform: scale(1.05);
	}
}

.level7 {
	width: 25rem;
	height: auto;
}

.level8 {
	width: 12rem;
}

@media (max-width: 1600px) {
	.level8 {
		width: 10rem;
	}

	.level7 {
		width: 18rem;
	}
}

@media (max-width: 768px) {
	.level8 {
		width: 8rem;
	}

	.level7 {
		width: 16rem;
	}
}
