.linkWrap {
	display: contents;
}

.filmCard {
	overflow: hidden;
	padding: 2rem;
	border-radius: var(--border-radius-3xl);
	width: 100%;
	gap: 2.5rem;
	backdrop-filter: blur(5px);
	background: var(--color-glass-gradient);
	box-shadow:
		0 4px 30px rgb(0 0 0 / 10%),
		inset 10px 10px 30px rgb(0 0 0 / 15%);
	border: 1px solid hsl(235deg 30% 69% / 20%);
	transition: all 0.4s ease;

	&:hover {
		filter: brightness(1.2);
	}
}

.left {
	width: 75%;
	gap: 2rem;
}

.right {
	gap: 1.2rem;
	margin-right: 3%;
}

.imageContainer {
	flex: 0 0 20%;
	position: relative;
	aspect-ratio: 3 / 4;
	overflow: hidden;
	max-height: 270px;
	max-width: 202px;
	border-radius: var(--border-radius-l);
}

.image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(0.95);
	transition: all 0.4s ease;
}

.imageContainer:hover .image {
	filter: brightness(1.2);
}

.content {
	padding: 0.625rem 0;
	background-color: transparent;
	width: 100%;
	box-sizing: border-box;
	gap: 2.5rem;
}

.title {
	width: 100%;
	max-width: 100%;
	overflow-wrap: break-word;
	word-break: normal;
	hyphens: manual;
}

.info {
	width: 40%;
	padding: 0;
	list-style: none;
	margin-top: -1.5rem;
	flex-wrap: nowrap;
	gap: 1rem;
	white-space: nowrap;
}

.rating,
.rating-high,
.rating-medium,
.rating-low {
	position: absolute;
	top: 2.8%;
	left: 4%;
	border-radius: 0.3125rem;
	z-index: 2;
	display: inline-block;
	padding: 0.35rem 0.77rem;
	font-size: var(--font-size-l);
}

.item {
	text-decoration: none;
	background: transparent;
}

.description {
	overflow-wrap: break-word;
	word-break: normal;
	width: 100%;
}

.favIcon {
	width: 1.5rem;
	transition: all 0.3s ease;
	margin-top: 0.2rem;
}

.favBtn {
	display: flex;
	flex-direction: row;
	transition: all 0.3s ease;
	gap: 0.7rem;
	padding: 0.6rem 1.4rem;
	align-items: center;
	margin-top: 0.4rem;

	&:hover {
		transform: scale(1.02);
	}
}

.inFav {
	.favIcon {
		fill: var(--color-text);
	}
}

.notInFav {
	.favIcon {
		fill: transparent;
	}
}

@media (max-width: 1500px) {
	.imageContainer {
		flex: 0 0 35%;
	}
}

@media (max-width: 1024px) {
	.filmCard {
		padding: 1.5rem;
		gap: 1.5rem;
	}

	.left {
		width: 90%;
		gap: 1.5rem;
	}

	.right {
		gap: 1rem;
		margin-right: 0;
		transform: none;
	}

	.favIcon {
		width: 1rem;
	}

	.favBtn {
		gap: 0.5rem;
		padding: 0.6rem 1.2rem;
	}

	.imageContainer {
		flex: 0 0 30%;
	}
}

@media (max-width: 768px) {
	.filmCard {
		flex-direction: column;
		padding: 2rem;
		gap: 1.5rem;
		align-items: center;
		justify-content: center;
	}

	.left {
		flex-direction: column;
		gap: 1.8rem;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.imageContainer {
		flex: auto;
		height: 30vh;
		position: relative;
		overflow: hidden;
		max-height: none;
		max-width: none;
	}

	.content {
		padding: 0;
		gap: 2rem;
		align-items: center;
		justify-content: center;
	}

	.description,
	.title {
		text-align: center;
	}

	.favBtn {
		gap: 0.3rem;
		padding: 0.5rem 0.8rem;
	}

	.favIcon {
		width: 1rem;
	}

	.right {
		gap: 1.5rem;
		flex-direction: row;
	}

	.info {
		width: 100%;
		margin-top: -1rem;
		align-items: center;
		justify-content: center;
	}
}
