.inputContainer {
	gap: 0.5rem;
	width: 100%;
}

.inputWrapper {
	width: 100%;
	gap: 1.125rem;
	height: 3.25rem;
	position: relative;
}

.primary {
	border: 2px solid var(--color-accent);
	border-radius: var(--border-radius-l);
}

.secondary {
	background-color: var(--color-light);
	border-radius: var(--border-radius-lg);
	border: 2px solid hsl(48deg 14% 93% / 60.3%);
}

.tertiary,
.before,
.after {
	display: contents;
}

.error {
	border: 2px solid var(--color-error);
}

.input {
	border: none;
	outline: none;
	font-size: var(--font-size-xs);
	width: 100%;
	font-family: 'Golos UI', Arial, sans-serif;
}

.inputWithIcon {
	background: transparent;
	color: var(--color-light-text);
	height: 100%;
	padding-left: 3.25rem;

	&:-moz-autofill,
	&:-moz-autofill-preview {
		background: transparent !important;
		color: var(--color-text) !important;
	}

	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		-webkit-box-shadow: 0 0 0 30px transparent inset !important;
		-webkit-text-fill-color: var(--color-text) !important;
		transition: background-color 5000s ease-in-out 0s;
	}

	&::placeholder {
		color: var(--color-light-text);
		user-select: none;
	}
}

.tertiaryInput {
	max-width: 100%;
	padding: 0.8rem 1.25rem;
	color: var(--color-dark-text);
	box-sizing: border-box;
	word-break: break-all;
	border-radius: var(--border-radius-l);
	border: 2px solid transparent;
}

.errorTertiaryInput {
	border: 2px solid var(--color-error);
}

.bottom {
	height: 1rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
}
