.searchInput {
	border-radius: var(--border-radius-lg);
	height: 2.5rem;
	padding: 0 1.2rem;
	width: 100%;
	justify-content: space-between;
	backdrop-filter: blur(10px);
	background: var(--color-search-gradient);
	transition: all 0.4 ease;
	box-shadow:
		0 4px 30px rgb(0 0 0 / 10%),
		inset 10px 10px 30px rgb(0 0 0 / 15%);
	border: 2px solid hsl(0deg 0% 100% / 20%);
}

.active {
	border: 2px solid hsl(0deg 0% 100% / 40%);
}

.input {
	background: transparent;
	border: none;
	height: 100%;
	font-size: var(--font-size-m);
	color: var(--color-light-text);
	font-family: 'Golos UI', Arial, sans-serif;
	outline: none;
	flex-grow: 1;

	&::placeholder {
		color: var(--color-light-text);
		user-select: none;
		opacity: 0.7;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		width: 100%;
		box-sizing: border-box;
	}

	&:-moz-autofill,
	&:-moz-autofill-preview {
		background: transparent !important;
		color: var(--color-text) !important;
	}

	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		-webkit-box-shadow: 0 0 0 30px transparent inset !important;
		-webkit-text-fill-color: var(--color-text) !important;
		transition: background-color 5000s ease-in-out 0s;
	}
}

.loupeBtn {
	outline: none;
	position: relative;
	transition: all 0.4 ease;

	&:hover {
		transform: scale(1.05);
	}
}

.loupe {
	position: relative;
	z-index: 10;
	width: 1rem;
}

.closeBtn {
	outline: none;
	transition: all 0.4 ease;

	&:hover {
		transform: scale(1.05);
	}
}

.close {
	width: 1rem;
	stroke-width: 0.2rem;
}

.bigSearchWrapper {
	position: relative;
	width: 40dvw;
	min-width: 3.5rem;
	max-width: 28rem;
}

@media (max-width: 768px) {
	.searchInput {
		border-radius: var(--border-radius-lg);
		padding: 0 1rem;
		height: 2.75rem;
		width: 100%;
		border: none;
		gap: 0.5rem;
	}

	.input {
		width: 75%;
	}

	.bigSearchWrapper {
		width: 100%;
	}
}
