.searchInput {
	border-radius: var(--border-radius-lg);
	height: 2.5rem;
	padding: 0 1.2rem;
	width: 40vw;
	max-width: 28rem;
	justify-content: space-between;
	backdrop-filter: blur(10px);
	background: var(--color-search-gradient);
	transition: all 0.4 ease;
	box-shadow:
		0 4px 30px rgb(0 0 0 / 10%),
		inset 10px 10px 30px rgb(0 0 0 / 15%);
	border: 2px solid hsl(0deg 0% 100% / 20%);
}

.active {
	border: 2px solid hsl(0deg 0% 100% / 40%);
}

.input {
	background: transparent;
	border: none;
	height: 100%;
	font-size: var(--font-size-m);
	color: var(--color-text);
	font-family: 'Golos UI', Arial, sans-serif;
	outline: none;

	&::placeholder {
		color: var(--color-light-text);
		user-select: none;
		opacity: 0.7;
	}

	&:not(:placeholder-shown) {
		.searchInput::after {
			opacity: 1;
		}
	}

	&:-moz-autofill,
	&:-moz-autofill-preview {
		background: transparent !important;
		color: var(--color-text) !important;
	}

	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		-webkit-box-shadow: 0 0 0 30px transparent inset !important;
		-webkit-text-fill-color: var(--color-text) !important;
		transition: background-color 5000s ease-in-out 0s;
	}
}

.loupeBtn {
	outline: none;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 1.7rem;
		height: 1.7rem;
		background: var(--color-accent);
		opacity: 0.1;
		border-radius: 50%;
		transform: translate(-50%, -50%);
		z-index: 0;
	}
}

.loupe {
	position: relative;
	z-index: 10;
	width: 1rem;
}

@media (max-width: 768px) {
	.searchInput {
		height: 1.75rem;
	}
}
