@use '../../styles/globals.scss' as *;

.filmCard {
	text-align: center;
	border-radius: 0.625rem;
	transition: transform 0.3s ease;
	width: 100%;
	border-radius: var(--border-radius-xl);
	padding: 1.25rem 1.875rem;
	border: 1px solid rgba(212, 222, 232, 0.4);
	box-shadow: 0px 4px 4px rgba(212, 222, 232, 0.1);
}

.left {
	gap: 1.5rem;
}

.right {
	gap: 3rem;
}

.linkWrap {
	display: contents;
}

.imageContainer {
	display: flex;
	position: relative;
	aspect-ratio: 3 / 4;
	overflow: hidden;
	height: 15vh;
	border-radius: var(--border-radius-l);
}

.image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(0.95);
	transition: all 0.4s ease;
}

.imageContainer:hover .image {
	filter: brightness(1.2);
}

.content {
	gap: 0.5rem;
}

.title {
	overflow-wrap: break-word;
	word-break: normal;
	hyphens: manual;
}

.subtitle {
	overflow-wrap: break-word;
	word-break: normal;
	hyphens: manual;
}

.favIcon {
	width: 1rem;
	transition: all 0.3s ease;
}

.favBtn {
	display: flex;
	flex-direction: row;
	transition: all 0.3s ease;
	gap: 0.5rem;
	padding: 0.7rem 1rem;
	align-items: center;

	&:hover {
		transform: scale(1.02);
	}
}

.date {
}

.inFav {
	.favIcon {
		fill: var(--color-text);
	}

	&:hover {
		.favIcon {
			fill: transparent;
		}
	}
}

.notInFav {
	.favIcon {
		fill: transparent;
	}

	&:hover {
		.favIcon {
			fill: var(--color-text);
		}
	}
}

.day1 {
	color: var(--color-calendar-1);
}

.day2 {
	color: var(--color-calendar-2);
}

.day3 {
	color: var(--color-calendar-3);
}

.day4 {
	color: var(--color-calendar-4);
}

.day5 {
	color: var(--color-calendar-5);
}

.day6 {
	color: var(--color-calendar-6);
}

.month {
}

@media (max-width: 768px) {
}
