<div class="page">
    <main class="registration">
		<div class='registration__wrapper'>
			<section class="registration__bg">
				{{!-- <img src="./../../assets/img/registration_background.webp" alt="background" class="registration__img"> --}}
				<video class='registration__img' src="../../assets/video/background_register.mp4" autoplay muted playsinline loop></video>
				<div class='registration__img-blur'></div>
				<img class="registration__logo" src="./../../assets/img/logo1.png" alt="logo">
			</section>
			<section id='registration-form-container' class="registration__form">
				<a href='/' class='registration__backBtn'>Вернуться на сайт<img class="backBtn__img" src="./../../assets/img/arrow.svg" alt="arrow_back"></a>
				<div class="registration__container">
						<h2 class="registration__title">Создать аккаунт</h2>
						<h3 class="registration__subtitle">Присоединяйтесь к сообществу киноманов</h3>
				</div>

			</section>
		</div>
    </main>
</div>