<div class="page">
    <main class="registration">
		<section class="registration__bg">
			<img src="/src/assets/img/registration_background.webp" alt="background" class="registration__img">
		</section>
        <section class="registration__form">
			<div class='registration__container'>
				<div>
					<h2 class="registration__title">Регистрация</h2>
					<h3 class="registration__subtitle">Добро пожаловать на Davai Davai Films</h3>
				</div>
			
			<form action='/registrate' id="registration-form" class="form">
				<div class="form__group">
					<label for="login" class="form__label">Имя пользователя</label>
					<input type="text" id="login" name="login" class="form__input" required>
				</div>
				<div class="form__group">
					<label for="password" class="form__label">Пароль</label>
					<input type="password" id="password" name="password" class="form__input" required>
				</div>
				<div class="form__group">
					<label for="confirm-password" class="form__label">Подтверждение пароля</label>
					<input type="password" id="confirm-password" name="confirm-password" class="form__input" required>
				</div>
				<button type="submit" class="form__button">Зарегистрироваться</button>
				<div class="form__footer">
					<p class="form__footer-text">Уже есть аккаунт? <a href="/login" class="form__footer-link">Войти</a></p>
				</div>
			</div>
        </section>
    </main>
</div>