.subhead {
	font-size: var(--font-size-xs);
	text-align: left;
	font-weight: var(--font-weight-regular);
	color: var(--color-text);
	opacity: 1;
}

.sizeM {
	font-size: var(--font-size-m);
}

.sizeS {
	font-size: var(--font-size-s);
}

.sizeXS {
	font-size: var(--font-size-xs);
}

.alignCenter {
	text-align: center;
}

.alignLeft {
	text-align: left;
}

.colorDark {
	color: var(--color-dark-text);
}

.colorLight {
	color: var(--color-light-text);
}

.colorAssent {
	color: var(--color-accent);
}

.colorBlue {
	color: var(--color-bg);
}

.colorBase {
	color: var(--color-text);
}

.weightRegular {
	font-weight: var(--font-weight-regular);
}

.weightBold {
	font-weight: var(--font-weight-bold);
}

.opacity100 {
	opacity: 1;
}

.opacity70 {
	opacity: 0.7;
}

.opacity60 {
	opacity: 0.6;
}

.opacity50 {
	opacity: 0.5;
}

.opacity30 {
	opacity: 0.3;
}
