.genre {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: max(5vh, 4vw);
}

.title {
	height: max(18vh, 15vw);
	color: var(--color-light-text);
}

.description {
	text-align: center;
	margin-top: min(-3vh, -2vw);
	font-size: var(--font-size-m);
}

.err {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 4rem);
	font-size: var(--font-size-3xl);
	font-weight: var(--font-weight-bold);
	color: var(--color-accent);
	line-height: 1;
}

@media (max-width: 768px) {
	.genre {
		margin-top: max(5vh, 6vw);
	}

	.title {
		height: max(20vh, 18vw);
	}

	.description {
		margin-top: -2vh;
		font-size: var(--font-size-s);
	}
}
