.filmCardGrid {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	overflow-x: hidden;
	width: 100%;
}

.title {
	margin-left: -0.2rem;
}

@media (max-width: 768px) {
	.filmCardGrid {
		gap: 1.5rem;
	}

	.title {
		margin-left: 0;
	}
}
