.filmCardGrid {
	gap: 2.5rem;
	overflow-x: hidden;
	width: 100%;
}

.title {
	margin-left: -0.2rem;
}

@media (max-width: 1024px) {
	.title {
		margin-left: 0;
		text-align: center;
	}
}

@media (max-width: 768px) {
	.filmCardGrid {
		gap: 1.5rem;
	}
}
