.filmCardGrid {
	gap: 3rem;
	width: 100%;
}

.title {
	margin-left: -0.2rem;
}

.loadMoreTrigger {
	height: 0;
	width: 0;
}

@media (max-width: 1024px) {
	.filmCardGrid {
		gap: 3.5rem;
	}

	.title {
		margin-left: 0;
		text-align: center;
	}
}

@media (max-width: 768px) {
	.filmCardGrid {
		gap: 2rem;
	}
}
