.header {
	width: 100%;
	max-width: 100%;
	padding: 1.4rem 5rem;
	box-sizing: border-box;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1000;
	gap: 1.25rem;
	background: hsl(0deg 0% 100% / 0.1%);
	backdrop-filter: blur(5px);
	border-bottom: 1px solid hsl(235deg 20% 32% / 23.9%);
	box-shadow: inset 0 -0.5px 1px hsl(235deg 20% 32% / 12.5%);
}

.link {
	position: relative;
	color: var(--color-text);

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -4px;
		width: 100%;
		height: 2px;
		background-color: var(--color-text);
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 0.3s ease;
	}

	&:hover::after {
		transform: scaleX(1);
	}
}

.sectionsLink {
	font-size: 1.125rem;
	text-decoration: none;
	transition: all 0.4s ease;
	padding: 0.5rem 0.75rem;
	border-radius: 0.375rem;

	&:hover {
		transform: translateY(-1px);
		color: var(--color-accent);
	}
}

.input {
	flex: 1;
	background: transparent;
	border: none;
	outline: none;
	font-size: 16px;
	height: 100%;
	padding: 0;

	&::placeholder {
		color: var(--color-light-text);
	}
}

.icon {
	width: 1.25rem;
	height: 1.25rem;
	color: var(--color-accent);
	margin-left: 0.625rem;
	cursor: pointer;
	transition: color 0.3s;
	flex-shrink: 0;
}

.user {
	gap: 1.875rem;
	flex-shrink: 0;
	text-decoration: none;
}

.loginBtn {
	padding: 0.625rem 1.875rem;
	height: 2.5rem;
	min-width: 7.5rem;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

.name {
	padding: 0.5rem 0.75rem;
	color: var(--color-white);
	text-decoration: none;
	border-radius: 0.375rem;
	transition: all 0.4s ease;

	&:hover {
		color: var(--color-accent);
		transform: translateY(-1px);
	}
}

.text1 {
	font-size: var(--font-size-s);
	cursor: pointer;
}

.text2 {
	font-size: var(--font-size-s);
	font-weight: var(--font-weight-bold);
	color: var(--color-accent);
	margin-left: -1.5rem;
	cursor: pointer;
	transition: transform 0.3s ease;

	&:hover {
		transform: scale(1.02);
	}
}

.loadingContainer {
	width: 3rem;
	height: 3rem;
}

@media (max-width: 1600px) {
	.header {
		padding: 0.8rem 1.5rem;
		gap: 1rem;
	}

	.logo {
		width: 10rem;
	}
}

@media (max-width: 768px) {
	.header {
		padding: 1rem 1.5rem;
		gap: 1rem;
	}

	.text1 {
		display: none;
	}

	.text2 {
		display: none;
	}

	.loginBtn {
		min-width: auto;
		padding: 0.25rem 0.75rem;
		font-size: var(--font-size-2xs);
		height: 1.75rem;
	}

	.logo {
		width: 8rem;
	}
}
