<header class="header">
    <img src="/src/assets/img/logo1.png" alt="Поиск" class="header__logo">
    <nav class="sections">
        <a href="#" class="sections__link">Главная</a>
        <a href="#" class="sections__link">Фильмы</a>
        <a href="#" class="sections__link">Сериалы</a>
    </nav>
    <div class="search">
        <input type="text" class="search__input" placeholder="Поиск фильмов, актеров...">
        <img src="/src/assets/img/loupe.svg" alt="Поиск" class="search__icon">
    </div>
    <div class="user">
        <button class="user__login-button">Войти</button>
    </div>
    <!--
        <div class="user">
        <span class="user__name">David</span>
          <img src="avatar.jpg" alt="Аватар" class="user__avatar">
        </div>
        -->
</header>