.header {
	width: 100%;
	max-width: 100%;
	background: #00154601;
	backdrop-filter: blur(2px);
	padding: 0.9375rem 7.5rem;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1000;
	gap: 1.25rem;
}

.header__logo {
	height: 2.5rem;
	object-fit: contain;
	flex-shrink: 0;
	transition: transform 0.3s ease;

	&:hover {
		transform: scale(1.05);
	}
}

.header__link {
	position: relative;
	color: var(--color-white);
	text-decoration: none;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -4px;
		width: 100%;
		height: 2px;
		background-color: var(--color-white);
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 0.3s ease;
	}

	&:hover::after {
		transform: scaleX(1);
	}
}

.sections {
	display: flex;
	gap: 2rem;
	justify-content: center;
}

.sections__link {
	font-size: 1.125rem;
	color: var(--color-white);
	text-decoration: none;
	transition: all 0.4s ease;
	padding: 0.5rem 0.75rem;
	border-radius: 0.375rem;
}

.sections__link:hover {
	transform: translateY(-1px);
	color: var(--color-accent);
}

.search {
	display: flex;
	align-items: center;
	background-color: var(--color-dark);
	border: 1px solid transparent;
	border-radius: 1.25rem;
	padding: 0.5rem 1rem;
	width: 100%;
	max-width: 40.625rem;
	height: 2.5rem;
	transition: all 0.4s ease;
}

.search:focus-within,
.search:hover {
	border-color: var(--color-accent);
	transform: translateY(-1px);
	box-shadow: 0 0 1rem var(--color-shadow-focus);
}

.search__input {
	flex: 1;
	background: transparent;
	border: none;
	outline: none;
	color: var(--color-white);
	font-size: 16px;
	height: 100%;
	padding: 0;
}

.search__input::placeholder {
	color: var(--color-text-secondary);
	font-family: Lato, Arial, sans-serif;
}

.search__icon {
	width: 1.25rem;
	height: 1.25rem;
	color: var(--color-accent);
	margin-left: 0.625rem;
	cursor: pointer;
	transition: color 0.3s;
	flex-shrink: 0;
}

.user {
	display: flex;
	align-items: center;
	gap: 0.875rem;
	flex-shrink: 0;
	text-decoration: none;
}

.user__login-button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.75rem 1.5rem;
	background: transparent;
	border: 2px solid var(--color-accent);
	border-radius: 0.5rem;
	font-weight: 500;
	color: var(--color-accent);
	cursor: pointer;
	transition: all 0.4s ease;
	height: 2.5rem;
	min-width: 7.5rem;
	text-decoration: none;
}

.user__login-button:hover {
	background: transparent;
	color: var(--color-accent);
	transform: translateY(-1px);
	box-shadow: var(--shadow);
}

.user__avatar {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}

.user__name {
	padding: 0.5rem 0.75rem;
	color: var(--color-white);
	text-decoration: none;
	border-radius: 0.375rem;
	transition: all 0.4s ease;
}

.user__name:hover {
	color: var(--accent);
	transform: translateY(-1px);
}
