.main {
	width: 100%;
	max-width: 100vw;
	height: 100%;
	margin-block: auto;
}

.form {
	position: relative;
	gap: 1.5rem;
	width: clamp(50rem, 80%, 97.5rem);
	height: 51.25rem;
	margin-inline: auto;
	border-radius: var(--border-radius-xxl);
	padding: 1rem;
	padding-right: 2.5rem;
	background-color: var(--color-accent-2);
}

.otpContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 1rem;
	margin-top: -1rem;
}

.otpContent {
	width: fit-content;
	border: 1px solid transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1rem;
	border-radius: 1rem;
}

.rightSide__title {
	margin-bottom: 0.5rem;
}

.rightSide {
	width: 50%;
	height: 100%;
	padding-bottom: 1.5rem;
}

.rightSide__inputFields {
	gap: 1.875rem;
	width: 100%;
	position: relative;
}

.rightSide__actions {
	width: 100%;
	gap: 1rem;
	margin-top: auto;
}

.rightSide__titles {
	text-align: left;
	padding-top: 8rem;
	padding-bottom: 4rem;
}

.login__button {
	width: 100%;
	padding-block: 1rem;
}

.register__button {
	width: 100%;
	text-align: center;
	font-size: var(--font-size-xs);

	.register {
		font-size: var(--font-size-s);
		font-weight: var(--font-weight-bold);
		color: var(--color-accent);
		cursor: pointer;
		display: inline-block;
		transition: transform 0.3s ease;

		&:hover {
			transform: scale(1.02);
		}
	}
}

.closeLink {
	position: absolute;
	top: 2.5rem;
	right: 2.5rem;
	cursor: pointer;
}

.errorMessage {
	color: var(--color-error);
	font-size: var(--font-size-s);
	position: absolute;
	top: 100%;
	left: 0;
}

.inputIcon {
	width: 1rem;
	height: 1rem;
	position: absolute;
	left: 1rem;
	pointer-events: none;
}

.logo {
	position: absolute;
	top: 15%;
	left: 25%;
	transform: translateX(-50%);
}

.videoContainer {
	display: flex;
	width: 50%;
	border-radius: var(--border-radius-xxl);
	object-fit: cover;
	height: 100%;
	pointer-events: none;
}

.loginImg {
	width: 100%;
	border-radius: var(--border-radius-xxl);
	object-fit: cover;
	height: 100%;
	pointer-events: none;
}

@media (max-width: 1024px) {
	.loginImg,
	.logo,
	.videoContainer {
		display: none;
	}

	.rightSide {
		width: 100%;
	}

	.rightSide__title {
		text-align: center;
		margin-bottom: 1rem;
	}

	.rightSide__subtitle {
		text-align: center;
		text-wrap: pretty;
	}
}

@media (max-width: 768px) {
	.rightSide__actions {
		padding-top: 2rem;
	}

	.main {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 100vw;
		box-sizing: border-box;
		gap: 2rem;
	}

	.form {
		width: 90%;
		height: clamp(100%, 80dvh, 80dvh);
		padding-right: 1rem;
	}

	.rightSide__titles {
		padding-top: 4rem;
		padding-bottom: 2rem;
	}

	.closeLink {
		top: 1.5rem;
		right: 1.5rem;
	}

	.rightSide__inputFields {
		margin-block: auto;
		gap: clamp(0.8rem, 1dvh, 1rem);
	}

	.otpContent {
		border: none;
	}
}
