<div class="page">
    <main class="login">
		<div class='login__wrapper'>
			<section class="login__bg">
				{{!-- <img alt="background" class="login__img" src="../../assets/img/registration_background.webp"></img> --}}
				<video class='login__img' src="../../assets/video/background_register.mp4" autoplay muted playsinline loop></video>
				<div class='login__img-blur'></div>
				<img class="login__logo" src="../../assets/img/logo1.png" alt="logo">
			</section>
			<section id='login-form-container' class="login__form">
				<a href='/' class='login__backBtn'>Вернуться на сайт<img class="backBtn__img" src="../../assets/img/arrow.svg" alt="arrow_back"></a>
				<div class="login__container">
						<h2 class="login__title">С возвращением!</h2>
						<h3 class="login__subtitle">Войдите, чтобы получить доступ ко всем возможностям</h3>
				</div>

			</section>
		</div>
		
    </main>
</div>