.main {
	width: 100%;
	max-width: 100vw;
	height: 100%;
	margin-block: auto;
}

.form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
	width: 97.5rem;
	height: 51.25rem;
	margin-inline: auto;
	border-radius: var(--border-radius-xxl);
	padding: 1rem;
	background-color: var(--color-accent-2);
}

.rightSide__title {
	font-size: var(--font-size-2xl);
	font-weight: var(--font-weight-bold);
	color: var(--color-text);
	margin-bottom: 0.5rem;
}

.rightSide__subtitle {
	font-size: var(--font-size-s);
	font-weight: var(--font-weight-regular);
	color: var(--color-light-text);
}

.loginImg {
	width: 50%;
	border-radius: var(--border-radius-l);
	object-fit: cover;
}

.rightSide {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.rightSide__inputFields {
	display: flex;
	flex-direction: column;
	gap: 1.875rem;
	width: 100%;
}

.rightSide__actions {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: auto;
}

.rightSide__titles {
	text-align: left;
	padding-top: 8rem;
	padding-bottom: 4rem;
}

.login__button {
	background-color: var(--color-accent);
	width: 100%;
	cursor: pointer;
	padding-block: 1rem;
	border: none;
	border-radius: var(--border-radius-m);
	font-size: var(--font-size-s);
}

.register__button {
	width: 100%;
	text-align: center;
	font-size: var(--font-size-xs);

	span {
		color: var(--color-accent);
		cursor: pointer;
	}
}

@media (max-width: 768px) {
	.films {
		display: flex;
		flex-direction: column;
		gap: 1.875rem;
	}

	.main {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 100vw;
		box-sizing: border-box;
		gap: 2rem;
	}
}
