.toasts {
	display: flex;
	position: fixed;
	bottom: 4rem;
	right: 4rem;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	z-index: 2000;
	background-color: transparent;
	border: none;
	height: auto;
	width: auto;
	padding: 1rem;
}

@media (max-width: 1024px) {
	.toasts {
		right: 50%;
		transform: translateX(50%);
		bottom: 0;
	}
}
