.feedback-1,
.feedback-2,
.feedback-3,
.feedback-4,
.feedback-5,
.feedback-6,
.feedback-7,
.feedback-8,
.feedback-9,
.feedback-10 {
	gap: 1vh;
	border-radius: var(--border-radius-xl);
	padding: 3rem 2.2rem;
	width: 100%;
}

.feedback-1 {
	background-color: var(--color-feedback-1);
}

.feedback-2 {
	background-color: var(--color-feedback-2);
}

.feedback-3 {
	background-color: var(--color-feedback-3);
}

.feedback-4 {
	background-color: var(--color-feedback-4);
}

.feedback-5 {
	background-color: var(--color-feedback-5);
}

.feedback-6 {
	background-color: var(--color-feedback-6);
}

.feedback-7 {
	background-color: var(--color-feedback-7);
}

.feedback-8 {
	background-color: var(--color-feedback-8);
}

.feedback-9 {
	background-color: var(--color-feedback-9);
}

.feedback-10 {
	background-color: var(--color-feedback-10);
}

.user {
	gap: 2vw;
}

.login {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 12vw;
}

.date {
	flex-wrap: wrap;
}

.smallDate {
	display: none;
	flex-wrap: wrap;
}

.content {
	margin-top: 1vh;
	color: var(--color-dark-text);
	gap: 3vh;
}

.title {
	flex-wrap: wrap;
	overflow-wrap: break-word;
}

.text {
	flex-wrap: wrap;
	overflow-wrap: break-word;
}

@media (max-width: 1600px) {
	.date {
		display: none;
	}

	.smallDate {
		display: inline;
	}
}

@media (max-width: 768px) {
	.smallDate {
		display: none;
	}

	.login {
		max-width: 30vw;
	}
}
