.page {
	gap: 3.75rem;
	width: 100%;
	overflow-x: hidden;
	padding: var(--wide-side-padding);
}

.films {
	gap: 1.875rem;
}

.title {
	margin-top: 10rem;
}

@media (max-width: 768px) {
	.films {
		gap: 1.875rem;
	}

	.main {
		width: 100%;
		max-width: 100vw;
		box-sizing: border-box;
		gap: 3rem;
	}
}
