.userFeedback {
	position: relative;
	width: 41.5vw;
}

.fixed {
	position: fixed;
	top: 7rem;
	z-index: 100;
	width: 41.5vw;
}

.notAuth {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.25rem;
	text-align: left;
}

.notAuthTitle {
	color: var(--color-dark-text);
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-xl);
}

.notAuthText {
	font-weight: var(--font-weight-bold);
	color: var(--color-dark-text);
	font-size: var(--font-size-xl);
}

.notAuthLink {
	color: var(--color-accent-2);
	text-decoration: none;
	font-weight: var(--font-weight-bold);
	display: inline-block;
	transition: transform 0.2s ease;

	&:hover {
		transform: scale(1.02);
	}
}

.title {
	color: var(--color-dark-text);
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-xl);
}

.feedbackContainer {
	display: flex;
	flex-direction: column;
	background-color: transparent;
	gap: 1.875rem;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
}

.editButton {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	background-color: var(--color-light);
	cursor: pointer;
	border: none;
	transition: all 0.2s ease-in-out;
	margin-top: 0.3rem;

	&:hover {
		transform: scale(1.05);
		box-shadow: 0 0 0.8rem var(--color-boxshadow-btn);
	}
}

.edit {
	width: 1.25rem;
	height: 1.25rem;
	object-fit: fit;
	display: block;
}

@media (max-width: 1024px) {
	.feedbackContainer {
		align-items: center;
	}

	.notAuth {
		align-items: center;
	}

	.fixed {
		position: relative;
		top: 0;
		width: 100%;
	}

	.userFeedback {
		width: 100%;
	}

	.notAuthTitle {
		text-align: center;
	}

	.notAuthText {
		text-align: center;
	}
}

@media (max-width: 768px) {
	.page {
		gap: 2rem;
	}
}
