.film {
	overflow: hidden;
	margin-bottom: 5rem;
}

.container {
	position: relative;
	width: 100%;
	height: 80vh;
	overflow: hidden;
	z-index: 0;
}

.container::before,
.container::after {
	content: '';
	position: absolute;
	width: 100%;
	z-index: 2;
	pointer-events: none;
}

.container::before {
	height: 100%;
	background: var(--color-film-top-gradient);
}

.container::after {
	bottom: -2%;
	height: 50%;
	background: var(--color-film-bottom-gradient);
}

.image {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
}

.content {
	padding: var(--side-padding);
	gap: 4.6rem;
	width: 100%;
	position: relative;
	margin-top: -30vh;
}

.info {
	flex: 3;
	gap: 5.3rem;
	width: 100%;
	position: relative;
}

.firstRow {
	width: 100%;
	position: relative;
	overflow: visible;
}

.media {
	flex: 1;
	position: relative;
	width: 100%;
	min-width: 10rem;
}

.cover {
	position: relative;
	width: 90%;
	object-fit: cover;
	border-radius: 0.625rem;
	box-shadow: 0 0.375rem 1rem hsl(0deg 0% 0% / 40%);
	z-index: 2;
}

.main {
	gap: 0;
	width: 100%;
	position: relative;
	flex: 2;
}

.title {
	margin-left: -0.3rem;
}

.subtitle {
	margin-top: 0.5rem;
	gap: 1.375rem;
}

.description {
	margin-top: 1.875rem;
	margin-right: 1rem;
}

.secondRow {
	width: 100%;
	position: relative;
}

.aboutTitle {
	white-space: nowrap;
	margin-left: -0.2rem;
}

.about {
	flex: 2;
}

.table {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2.5rem 1.875rem;
	margin-top: 2.5rem;
	align-items: end;
}

.fact {
	white-space: nowrap;
}

.roles {
	flex: 1;
	white-space: nowrap;
	width: 100%;
	margin-left: -0.2rem;
}

.cast {
	flex: 1;
	gap: 2.5rem;
	width: 100%;
	height: 100%;
}

.castContent {
	gap: 2.5rem;
}

.actors {
	gap: 0.9375rem;
	width: 100%;
	cursor: pointer;
	transition: transform 0.3s ease;
}

.actors:hover {
	transform: scale(1.02);
}

.rating-high,
.rating-medium,
.rating-low {
	display: none;
}

.smallAbout {
	display: none;
}

.smallRating {
	display: none;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 100%;
}

.err {
	min-height: calc(100vh - 4rem);
	line-height: 1;
	align-items: center;
	display: flex;
}

.genre {
	display: inline-block;
	transform-origin: center;
	transition: transform 0.3s ease;

	&:hover {
		color: var(--color-text);
		opacity: 1;
		transform: scale(1.02);
	}
}

.right {
	gap: 2rem;
	flex: 1;
	position: relative;
	width: 100%;
	min-width: 10rem;
}

.favIcon {
	margin-top: 0.2rem;
	width: 1rem;
	transition: all 0.3s ease;
}

.favBtn {
	width: 90%;
	display: flex;
	gap: 0.5rem;
	padding: 1rem 1.5rem;
	align-items: center;
	flex-direction: row;
	transition: all 0.3s ease;

	&:hover {
		transform: scale(1.02);
	}
}

.smallFavBtn {
	width: 30%;
	display: none;
	align-items: center;
	flex-direction: row;
	transition: all 0.3s ease;
	gap: 0.5rem;
	padding: 1rem 1.5rem;
	margin-bottom: 0.5rem;
	margin-top: 1.5rem;

	&:hover {
		transform: scale(1.02);
	}
}

.isAuth {
	margin-top: 0;
}

.inFav {
	.favIcon {
		fill: var(--color-text);
	}
}

.notInFav {
	.favIcon {
		fill: transparent;
	}
}

.trailerPreviewPC {
	display: block;
}

.trailerPreviewMobile {
	display: hidden;
}

@media (max-width: 1024px) {
	.trailerPreviewPC {
		display: none;
	}

	.trailerPreviewMobile {
		display: block;
	}

	.film {
		margin-bottom: 1rem;
		align-items: center;
		min-height: 100vh;
	}

	.smallRating {
		display: flex;
	}

	.container {
		display: none;
	}

	.content {
		padding: 0 2rem;
		flex-direction: column;
		gap: 1.5rem;
		align-items: center;
		margin-top: 7rem;
		text-align: center;
	}

	.info {
		gap: 4rem;
		align-items: center;
		text-align: center;
	}

	.firstRow {
		flex-direction: column;
		align-items: center;
		gap: 1.5rem;
	}

	.right {
		justify-content: center;
		align-items: center;
		width: 60%;
		gap: 1rem;
	}

	.media {
		justify-content: center;
		align-items: center;
		gap: 0.6rem;
	}

	.cover {
		margin: 0 auto;
	}

	.main {
		gap: 0.5rem;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.title {
		margin: 0 auto;
		text-align: center;
	}

	.subtitle {
		display: none;
	}

	.description {
		margin-top: 1rem;
		text-align: center;
		margin-right: 0;
	}

	.secondRow {
		flex-direction: column;
		gap: 2rem;
	}

	.aboutTitle {
		margin: 0 auto;
	}

	.about {
		display: none;
	}

	.roles {
		margin: 0 auto;
	}

	.cast {
		align-items: center;
	}

	.castContent {
		gap: 1.5rem;
		align-items: center;
	}

	.actors {
		gap: 0.9375rem;
	}

	.bigRating {
		display: none;
	}

	.rating-high,
	.rating-medium,
	.rating-low {
		left: 8%;
		display: inline-block;
	}

	.smallAbout {
		display: flex;
		margin-top: 0.5rem;
		flex-wrap: wrap;
		gap: 3vw;
	}

	.favIcon {
		margin-top: 0.2rem;
	}

	.smallFavBtn {
		display: flex;
	}

	.favBtn {
		display: none;
	}
}

@media (max-width: 768px) {
	.smallFavBtn {
		width: 50%;
		padding: 1rem 0.8rem;
	}

	.trailerPreviewMobile {
		display: block;
		width: 100%;
	}
}
