.film {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin-bottom: 5rem;
}

.container {
	position: relative;
	width: 100%;
	height: 80vh;
	overflow: hidden;
	z-index: 0;
}

.container::before,
.container::after {
	content: '';
	position: absolute;
	width: 100%;
	z-index: 2;
	pointer-events: none;
}

.container::before {
	height: 100%;
	background: var(--color-film-top-gradient);
}

.container::after {
	bottom: -2%;
	height: 50%;
	background: var(--color-film-bottom-gradient);
}

.image {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
}

.content {
	padding: var(--side-padding);
	display: flex;
	flex-direction: row;
	gap: 4.6rem;
	align-items: start;
	width: 100%;
	position: relative;
	margin-top: -30vh;
}

.info {
	flex: 3;
	display: flex;
	flex-direction: column;
	gap: 5.3rem;
	align-items: start;
	width: 100%;
	position: relative;
}

.firstRow {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 100%;
	position: relative;
	overflow: visible;
	justify-content: space-between;
}

.media {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	width: 100%;
	min-width: 10rem;
}

.cover {
	position: relative;
	width: 90%;
	object-fit: cover;
	border-radius: 0.625rem;
	box-shadow: 0 0.375rem 1rem hsl(0deg 0% 0% / 40%);
	z-index: 2;
}

.main {
	display: flex;
	flex-direction: column;
	gap: 0.9375rem;
	align-items: start;
	width: 100%;
	position: relative;
	flex: 2;
}

.title {
	font-size: var(--font-size-3xl);
	margin-left: -0.3rem;
}

.subtitle {
	font-size: var(--font-size-xs);
	opacity: 0.7;
	display: flex;
	flex-direction: row;
	gap: 1.375rem;

	h3 {
		color: var(--color-light-text);
	}
}

.description {
	font-size: var(--font-size-m);
	margin-top: 1.875rem;
	margin-right: 1rem;
}

.secondRow {
	display: flex;
	flex-direction: row;
	align-items: start;
	width: 100%;
	position: relative;
	justify-content: space-between;
}

.aboutTitle {
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-bold);
	white-space: nowrap;
	margin-left: -0.2rem;
}

.about {
	flex: 2;
}

.table {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2.5rem 1.875rem;
	margin-top: 2.5rem;
	align-items: end;
}

.fact {
	font-size: var(--font-size-l);
	font-weight: var(--font-weight-bold);
	white-space: nowrap;
}

.value {
	color: var(--color-light-text);
	opacity: 0.8;
	font-size: var(--font-size-m);
}

.roles {
	flex: 1;
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-bold);
	white-space: nowrap;
	width: 100%;
	text-align: left;
	margin-left: -0.2rem;
}

.cast {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 2.5rem;
	width: 100%;
	height: 100%;
}

.castContent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2.5rem;
}

.actors {
	font-size: var(--font-size-m);
	gap: 0.9375rem;
	text-align: left;
	width: 100%;
	cursor: pointer;
	transition: transform 0.3s ease;
}

.actors:hover {
	transform: scale(1.02);
}

.rating-high,
.rating-medium,
.rating-low {
	display: none;
}

.rating-high {
	background-color: var(--color-rating-high);
}

.rating-medium {
	background-color: var(--color-rating-medium);
}

.rating-low {
	background-color: var(--color-rating-low);
}

.smallAbout {
	display: none;
}

.bigRating {
	display: flex;
}

.smallRating {
	display: none;
}

.err {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 4rem);
	font-size: var(--font-size-3xl);
	font-weight: var(--font-weight-bold);
	color: var(--color-accent);
	line-height: 1;
}

@media (max-width: 768px) {
	.film {
		margin-bottom: 1rem;
		align-items: center;
		min-height: 100vh;
	}

	.container {
		display: none;
	}

	.content {
		padding: 0 2rem;
		flex-direction: column;
		gap: 1.5rem;
		align-items: center;
		margin-top: 5rem;
		text-align: center;
	}

	.info {
		gap: 4rem;
		align-items: center;
		text-align: center;
	}

	.firstRow {
		flex-direction: column;
		align-items: center;
		gap: 1.5rem;
	}

	.media {
		justify-content: center;
		align-items: center;
		width: 60%;
	}

	.cover {
		margin: 0 auto;
	}

	.main {
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.title {
		margin: 0 auto;
	}

	.subtitle {
		display: none;
	}

	.description {
		margin-top: 1rem;
		text-align: center;
	}

	.secondRow {
		flex-direction: column;
		gap: 2rem;
	}

	.aboutTitle {
		margin: 0 auto;
	}

	.about {
		display: none;
	}

	.roles {
		margin: 0 auto;
	}

	.cast {
		align-items: center;
	}

	.castContent {
		gap: 1.5rem;
		align-items: center;
	}

	.actors {
		gap: 0.9375rem;
	}

	.bigRating {
		display: none;
	}

	.smallRating {
		display: flex;
	}

	.rating-high,
	.rating-medium,
	.rating-low {
		position: absolute;
		top: 2%;
		left: 8%;
		border-radius: 0.3125rem;
		z-index: 2;
		display: inline-block;
		padding: 0.35rem 0.77rem;
		font-size: var(--font-size-l);
	}

	.smallAbout {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		gap: 3vw;
	}
}
