.footer-light,
.footer-dark {
	width: 100%;
	background-color: transparent;
	padding-block: 1.4rem;
	margin-top: auto;

	.content {
		color: var(--color-accent);
	}
}

.footer-light {
	background-color: var(--color-text);
	margin-top: 0;

	.content {
		color: var(--color-dark-text);
	}
}
