.footer-light,
.footer-dark,
.footer-base {
	width: 100%;
	background-color: transparent;
	padding-block: 1.4rem;
	margin-top: auto;

	.content {
		color: var(--color-accent);
	}
}

.footer-light {
	background-color: var(--color-text);
	margin-top: 0;

	.content {
		color: var(--color-dark-text);
	}
}

.footer-dark {
	background-color: var(--color-bg);
	margin-top: 0;
}

@media (max-width: 1024px) {
	.footer-dark {
		background-color: transparent;
	}
}
