.page {
	display: flex;
	flex-direction: column;
	gap: 3.75rem;
	width: 100vw;
	height: 100vh;
	align-items: center;
	padding: var(--side-padding);
}

.profile {
	display: flex;
	flex-direction: row;
	gap: 3.75rem;
	width: 100%;
	height: 100%;
	align-items: center;
}
