.page {
	position: relative;
	gap: 5vw;
	width: 100vw;
	min-height: 75vh;
	padding: var(--wide-side-padding);
	margin-top: 10rem;
	background: transparent;

	&::before {
		content: '';
		position: absolute;
		top: 30vh;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100vw;
		height: 60vh;
		background: radial-gradient(
			ellipse at center,
			var(--color-user-bg),
			transparent 70%
		);
		filter: blur(120px);
		z-index: 1;
	}

	&::after {
		content: '';
		position: absolute;
		top: 25vh;
		left: 50%;
		transform: translate(-50%, -50%) rotate(90deg);
		width: 95vh;
		height: 70vw;
		background: radial-gradient(
			ellipse at center,
			var(--color-user-bg),
			transparent 70%
		);
		filter: blur(120px);
		z-index: 0;
	}
}

.profile {
	gap: 9.4rem;
	width: 100%;
}

.title {
	z-index: 10;
}

.favorites {
	gap: 4rem;
	margin-bottom: 4rem;
	width: 100%;
}

.films {
	gap: 2rem;
	width: 100%;
}

@media (max-width: 1024px) {
	.page {
		gap: 7rem;
		margin-top: 10rem;
		min-height: 100vh;
		margin-bottom: 2rem;
		padding: var(--side-padding);
	}

	.profile {
		flex-direction: column;
		gap: 2rem;
		align-items: center;
	}

	.title {
		text-align: center;
	}
}

@media (max-width: 768px) {
	.page {
		&::before {
			top: 30vh;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 110vw;
			height: 60vh;
		}

		&::after {
			top: 30vh;
			left: 50%;
			transform: translate(-50%, -50%) rotate(90deg);
			width: 120vh;
			height: 120vw;
		}
	}

	.profile {
		gap: 1rem;
	}

	.favorites {
		gap: 3rem;
		margin-bottom: 2rem;
	}
}

@media (max-width: 400px) {
	.profile {
		gap: 6rem;
	}

	.page {
		min-height: 100vh;
		height: auto;
	}
}
