.page {
	display: flex;
	flex-direction: column;
	gap: 7vw;
	width: 100vw;
	height: 100vh;
	align-items: center;
	padding: var(--side-padding);
	margin-top: 10rem;
}

.profile {
	display: flex;
	flex-direction: row;
	gap: 120px;
	width: 100%;
	align-items: flex-start;
}

.title {
	font-size: var(--font-size-3xl);
}

@media (max-width: 1024px) {
	.page {
		gap: 10vw;
		margin-top: 10rem;
	}

	.profile {
		flex-direction: column;
		gap: 80px;
		align-items: center;
	}

	.title {
		font-size: var(--font-size-3xl);
	}
}
