.rating {
	gap: 0.5vw;
	white-space: nowrap;
}

.star-low {
	color: var(--color-feedback-text-low);
}

.star-high {
	color: var(--color-feedback-text-high);
}

.star-medium {
	color: var(--color-feedback-text-medium);
}

.rating-low,
.rating-high,
.rating-medium {
	font-size: var(--font-size-l);
}

.rating-low {
	color: var(--color-feedback-text-low);
}

.rating-high {
	color: var(--color-feedback-text-high);
}

.rating-medium {
	color: var(--color-feedback-text-medium);
}

@media (max-width: 768px) {
	.rating {
		margin-right: 0;
	}
}
