.rating {
	gap: 0.75rem;
	flex: 1;
}

.subtitle {
	margin-top: -0.5rem;
}

.rateMenu {
	position: absolute;
	top: 0;
	opacity: 0;
	transform: translateY(-0.1rem);
	gap: 0.7vw;
	padding: 0.4vw 0.5vw;
	background: var(--color-light);
	border-radius: var(--border-radius-l);
	cursor: pointer;
	transition: all 0.2s ease;
	border: 1px solid var(--color-light);
	pointer-events: none;
}

.active {
	opacity: 1 !important;
	pointer-events: all;
	z-index: 6 !important;
}

.rateBtn {
	position: relative;
	padding: 0.6vw 1.6vw;
	z-index: 5;
	pointer-events: all;
}

.btnText {
	white-space: nowrap;
	width: min(15vw, 10rem);
}

.title-high {
	color: var(--color-rating-high);
}

.title-medium {
	color: var(--color-rating-medium);
}

.title-low {
	color: var(--color-rating-low);
}

.star {
	display: none;
}

.rating-high,
.rating-medium,
.rating-low {
	border-radius: 0.3125rem;
	padding: 0.05rem 0.4rem;
	font-size: var(--font-size-l);
	gap: 0.2rem;
}

.rating-high {
	background-color: var(--color-rating-high);
}

.rating-medium {
	background-color: var(--color-rating-medium);
}

.rating-low {
	background-color: var(--color-rating-low);
}

.userRating {
	width: min(15vw, 10rem);
	gap: 0.8vw;
}

.userRatingTitle {
	display: inline;
}

.userStarIcon {
	color: var(--color-text);
	width: 1.2rem;
}

.smallRateBtn {
	display: none;
	border: none;
	z-index: 5;
	pointer-events: all;
	width: 100%;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.wrapper {
	display: contents;
}

@media (max-width: 1024px) {
	.rating-high,
	.rating-medium,
	.rating-low,
	.title-low,
	.title-medium,
	.title-high {
		display: none;
	}

	.userTitle-low,
	.userTitle-medium,
	.userTitle-high {
		display: inline;
	}

	.smallRateBtn {
		display: flex;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.rateBtn {
		display: none;
	}

	.rating {
		flex-direction: row;
		gap: 1.5rem;
		align-items: center;
		justify-content: center;
		margin-top: 1rem;
		pointer-events: none;
	}

	.star {
		display: inline;
		width: 2.5rem;
		height: 2.5rem;
	}

	.userStarIcon {
		display: none;
	}

	.rateMenu {
		padding: 1rem 1.5rem;
	}

	.subtitle {
		display: none;
	}

	.btnText {
		font-size: var(--font-size-3xs);
		color: var(--color-light-text);
		opacity: 0.6;
		text-align: center;
		width: 100%;
	}
}

@media (max-width: 768px) {
	.rateMenu {
		padding: 1rem 0.8rem;
	}
}
