.modalWrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	background: rgb(0 0 0 / 50%);
	z-index: 1000;
	opacity: 0;
	animation: fadeIn 0.3s ease-out forwards;
}

.wrapperChildren {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100dvw;
	min-width: 40dvw;
	max-height: 100dvh;
}

.modalContent {
	border-radius: var(--border-radius-xl);
	overflow-y: auto;
	position: relative;
	z-index: 1001;
	transform: scale(0.8) translateY(-20px);
	opacity: 0;
	animation: modalAppear 0.3s ease-out 0.1s forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes modalAppear {
	from {
		transform: scale(0.8) translateY(-20px);
		opacity: 0;
	}

	to {
		transform: scale(1) translateY(0);
		opacity: 1;
	}
}

.modalWrapper.closing {
	animation: fadeOut 0.3s ease-in forwards;
}

.modalWrapper.closing .modalContent {
	animation: modalDisappear 0.3s ease-in forwards;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes modalDisappear {
	from {
		transform: scale(1) translateY(0);
		opacity: 1;
	}

	to {
		transform: scale(0.8) translateY(-20px);
		opacity: 0;
	}
}

.close {
	position: absolute;
	transition: opacity 200ms;
	cursor: pointer;
	z-index: 1002;

	&:hover {
		opacity: 0.7;
	}
}

.closeInner {
	top: 2rem;
	right: 2rem;
}

.closeOutside {
	top: -3rem;
	right: -4rem;
}

@media (max-width: 768px) {
	.close {
		top: 1rem;
		right: 1rem;
	}
}
