.page {
	gap: 6rem;
	width: 100%;
	overflow-x: hidden;
	padding: var(--wide-side-padding);
	margin-bottom: 3rem;
}

.films {
	gap: 1.875rem;
}

@media (max-width: 1024px) {
	.page {
		padding: var(--side-padding);
		gap: 3rem;
	}
}

@media (max-width: 768px) {
	.page {
		padding: var(--side-padding);
		gap: 2rem;
	}

	.films {
		gap: 1.875rem;
	}
}
