.inputContainer {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
	align-items: flex-start;
}

.inputLabel {
	font-weight: var(--font-weight-medium);
	font-size: var(--font-size-s);
	color: var(--color-text);
}

.inputWrapper {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: start;
	gap: 1.125rem;
	border-radius: var(--border-radius-l);
	height: 3.25rem;
	position: relative;
}

.inputField {
	border: none;
	background: transparent;
	outline: none;
	color: var(--color-light-text);
	height: 100%;
	width: 100%;
	font-size: var(--font-size-xs);
	padding-left: 3.25rem;

	&:-moz-autofill,
	&:-moz-autofill-preview {
		background: transparent !important;
		color: var(--color-text) !important;
	}

	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		-webkit-box-shadow: 0 0 0 30px transparent inset !important;
		-webkit-text-fill-color: var(--color-text) !important;
		transition: background-color 5000s ease-in-out 0s;
	}

	&::placeholder {
		color: var(--color-light-text);
		user-select: none;
	}
}

.inputEye {
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
	padding: 0;
}

.errorMessage {
	color: var(--color-error);
	text-align: left;
	height: 1rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
}

.accentBorder {
	border: 2px solid var(--color-accent);
}

.errorBorder {
	border: 2px solid var(--color-error);
}

.inputIconLeft {
	position: absolute;
	left: 1rem;
	pointer-events: none;
}

.inputIconRight {
	pointer-events: none;
}
