.inputEye {
	outline: none;
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
	padding: 0;
}

.inputIconLeft {
	position: absolute;
	left: 1rem;
	pointer-events: none;
}

.inputIcon {
	width: 1rem;
	height: 1rem;
	position: absolute;
	left: 1rem;
	pointer-events: none;
}

.inputIconRight {
	pointer-events: none;
}
