.input__container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;
	align-items: flex-start;
}

.input__label {
	font-weight: var(--font-weight-medium);
	font-size: var(--font-size-s);
	color: var(--color-text);
}

.input__wrapper {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: start;
	gap: 1.125rem;
	border: 2px solid var(--color-accent);
	border-radius: var(--border-radius-l);
	padding: 1rem;
	height: 3.25rem;
}

.input__field {
	border: none;
	background-color: transparent;
	outline: none;
	color: var(--color-text);
	height: 100%;
	width: 100%;
	font-size: var(--font-size-s);

	&:-moz-autofill,
	&:-moz-autofill-preview {
		background: transparent !important;
		color: var(--color-text) !important;
	}

	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		-webkit-box-shadow: 0 0 0 30px transparent inset !important;
		-webkit-text-fill-color: var(--color-text) !important;
		transition: background-color 5000s ease-in-out 0s;
	}
}

.input__eye {
	background: transparent;
	border: none;
	outline: none;
}
