.changeAvatar {
	gap: 2.8rem;
}

.content {
	width: 45vw;
	z-index: 15;
	gap: 1rem;
}

.title {
	margin-top: 1rem;
}

.subtitle {
	gap: 0.5rem;
	margin-bottom: 3.25rem;
}

.btns {
	gap: 1rem;
}

.btn {
	padding: 0.5rem 1rem;
	white-space: nowrap;
	height: 2.25rem;
}

.hidden {
	opacity: 0;
	pointer-events: none;
}

.otp {
	gap: 0.5rem;
}

.otpText {
	text-wrap: pretty;
}

.wrap {
	display: contents;
}

@media (max-width: 1024px) {
	.content {
		width: 100%;
		flex-direction: column;
		align-items: center;
		gap: 2.5rem;
	}

	.title {
		margin-top: 3rem;
		margin-top: 0;
		font-size: var(--font-size-m);
		text-align: center;
	}

	.text {
		gap: 3rem;
		text-align: center;
		flex-flow: column-reverse;
		margin-top: -2rem;
	}

	.wrap {
		display: flex;
		gap: 2rem;
		text-align: center;
	}

	.changeAvatar {
		gap: 1rem;
	}

	.subtitle {
		text-align: center;
		margin-bottom: 0;
	}

	.subtitleText {
		text-align: center;
	}

	.otp {
		flex-flow: column-reverse;
		gap: 1rem;
	}
}

@media (max-width: 768px) {
	.changeAvatar {
		gap: 1rem;
	}

	.title {
		font-size: var(--font-size-l);
		margin-top: 0;
		text-align: center;
	}

	.text {
		text-align: center;
		gap: 2rem;
		margin-top: -3rem;
	}

	.subtitle {
		text-align: center;
		gap: 0;
	}

	.subtitleText {
		text-align: center;
	}

	.btn {
		padding: 0.2rem 0.6rem;
	}
}
