<div class="page">
    <main class="main">
        <section class="genre-slider"></section>
        <section class="films">
            <h2 class="movies__title">Все фильмы</h2>
            <div class="grid">
            </div>
        </section>
    </main>
</div>