.page {
	display: flex;
	flex-direction: column;
	gap: 3.75rem;
	width: 100%;
}

.main {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 100vw;
	box-sizing: border-box;
	gap: 5.7rem;
}

.films {
	display: flex;
	flex-direction: column;
	gap: 1.875rem;
	padding: 1.25rem 0;
	padding: 0 7.5rem;
}
