.page {
	gap: 3.75rem;
	width: 100%;
	overflow-x: hidden;
}

.main {
	width: 100%;
	max-width: 100vw;
	box-sizing: border-box;
	gap: 5.7rem;
}

.films {
	gap: 1.875rem;
	padding: var(--side-padding);
}

@media (max-width: 768px) {
	.films {
		gap: 1.875rem;
	}

	.main {
		width: 100%;
		max-width: 100vw;
		box-sizing: border-box;
		gap: 2rem;
	}
}
