@import url('../../components/topFilm/topFilm.css');
@import url('../../components/genreSlider/genreSlider.css');
@import url('../../components/cardGrid/cardGrid.css');

.page {
	display: flex;
	flex-direction: column;
	gap: 3.75rem;
	width: 100%;
	color: var(--color-white);
	background-color: var(--color-bg);
}

.main {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 100vw;
	box-sizing: border-box;
	gap: 3.75rem;
}

.films {
	display: flex;
	flex-direction: column;
	gap: 1.875rem;
	padding: 1.25rem 0;
	padding: 0 7.5rem;
}

@media (width <= 75rem) {
	.films {
		padding: 0 3.75rem;
	}
}

@media (width <= 48rem) {
	.films {
		padding: 0 1.875rem;
	}
}
