@import url('../../components/filmCard/filmCard.css');
@import url('../../components/topFilm/topFilm.css');
@import url('../../components/genreSlider/genreSlider.css');

.page {
	display: flex;
	flex-direction: column;
	gap: 1.875rem;
	width: 100%;
	color: var(--color-white);
	background-color: var(--color-bg);
}

.main {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 100vw;
	padding: 0 7.5rem;
	box-sizing: border-box;
}

.films {
	display: flex;
	flex-direction: column;
	gap: 1.875rem;
	padding: 1.25rem 0;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
	gap: 1.25rem;
}

.load-more-trigger {
	height: 1px;
	width: 1px;
}

@media (width <= 75rem) {
	.main {
		padding: 0 3.75rem;
	}
}

@media (width <= 48rem) {
	.main {
		padding: 0 1.875rem;
	}
}
