.actionButton {
	cursor: pointer;
	border: none;
	background: transparent;
	outline: none;
}

.modalLogout {
	background-color: var(--color-light);
	color: var(--color-text);
	width: 50rem;
	height: 25rem;
	padding: 4rem;
}

.exitButton {
	outline: none;
	gap: 0.5rem;
}

.turnBackButton {
	padding: 1rem 2rem;
	outline: none;
}

.modalHeader {
	gap: 1rem;
}

.modalActions {
	width: 100%;
	gap: 2rem;
}
