.modalWrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	background-color: rgb(0 0 0 / 50%); /* Затемнение */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	font-size: large;
}

.modalContent {
	background-color: var(--color-bg-light);
	max-width: 90dvw;
	min-width: 30dvw;
	min-width: 50dvh;
	max-height: 80dvh;
	overflow-y: auto;
	position: relative;
	z-index: 1001;
	border-radius: var(--border-radius-xl);
}

.actionButton {
	cursor: pointer;
	border: none;
	background: transparent;
	outline: none;
}

.modalLogout {
	display: flex;
	background-color: var(--color-light);
	color: var(--color-text);
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 50rem;
	height: 25rem;
	padding: 4rem;
}

.exitButton {
	outline: none;
	gap: 0.5rem;
}

.turnBackButton {
	padding: 1rem 2rem;
	outline: none;
}

.modalHeader {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.modalActions {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}
