.button {
	display: flex;
	cursor: pointer;
	box-sizing: border-box;
	align-items: center;
	text-align: center;
	justify-content: center;
	transition: transform 0.3s ease;
	border: none;
}

.primary {
	background-color: var(--color-accent);
	color: var(--color-light);
	transition: all 200ms ease;
	border: 1px solid var(--color-accent);

	&:hover {
		background: transparent;
		color: var(--color-accent);
		transform: translateY(-1px);
	}
}

.secondary {
	background: var(--color-btn-gradient);
	color: var(--color-text);
}

.tertiary {
	background-color: transparent;
	color: var(--color-text);
}

.quaternary {
	background-color: var(--color-light);
	color: var(--color-text);
}

.borderRadiusL {
	border-radius: var(--border-radius-l);
}

.borderRadiusLG {
	border-radius: var(--border-radius-lg);
}

.sizeL {
	font-size: var(--font-size-l);
}

.sizeM {
	font-size: var(--font-size-m);
}

.sizeX {
	font-size: var(--font-size-s);
}

.sizeXS {
	font-size: var(--font-size-xs);
}
