
<div class="page">
	<div class="err">
		<h1 class="err__title">404</h1>
		<div class="err__content">
			<p>Похоже, вы забрели в тёмный космос</p>
			<p>Страница не найдена</p>
			<a href="/">Вернуться на главную</a>
		</div>
	</div>
</div>