.VKIDmodal {
	background-color: var(--color-light);
	color: var(--color-text);
	width: 100%;
	min-width: 40rem;
	height: 25rem;
	padding: 4rem;
}

.vkidButton {
	width: 100%;
	padding-block: 1rem;
	margin-top: 2rem;
}

.vkidInput {
	width: 100%;
	max-width: 100%;
	min-width: 10rem;
	padding: 0.75rem 1rem;
	border: 1px solid var(--color-always-light-text);
	border-radius: var(--border-radius-l);
	font-size: var(--font-size-m);
	color: var(--color-text);
	background-color: var(--color-white);
	box-sizing: border-box;
	margin-bottom: 0.5rem;
}

.inputContainer {
	width: 100%;
	height: 5rem;
	min-height: 5rem;
	display: flex;
	flex-direction: column;
	position: relative;
}

.error {
	color: var(--color-error);
	font-size: var(--font-size-xs);
	text-wrap: wrap;
	width: 100%;
}

.inputError {
	border: 1px solid var(--color-error);
}

.vkidTitle {
	font-size: var(--font-size-2xl);
	margin-bottom: 6rem;
	text-align: center;
}

@media (max-width: 450px) {
	.vkidTitle {
		margin-bottom: 4rem;
	}

	.VKIDmodal {
		min-width: 25rem;
		padding-inline: 2rem;
	}

	.vkidButton {
		margin-top: 1rem;
	}
}

@media (max-width: 450px) {
	.VKIDmodal {
		min-width: 20rem;
		max-width: 20rem;
	}
}
